[2015-12-17 12:50] typerandom opened #1 "Add context support"
The Router should implement a [React context](https://facebook.github.io/react/docs/context.html) so that it's possible to access properties such as `authenticated` (boolean) and `account` (our account session object) from any component.

I.e. so that it can be used like:

[code]

[2015-12-17 13:03] typerandom opened #2 "Add group support"
We should add so that it's possible to use groups when using the `Authenticated` or `AuthenticatedRoute` components.

I.e. for the `Authenticated` component:

[code]

And for the `AuthenticatedRoute`:

[code]

**Note**

In order to be able to support this, users will also have to enable group expansion in their Stormpath integration. I.e. for Express Stormpath:

[code]

To be consistent with [the

[2015-12-17 13:29] typerandom opened #3 "Add Redux support"
We should add support for [Redux](https://github.com/rackt/redux).

We currently have the `dispatcher` option where one can specify a flux dispatcher. So we should probably reuse that like this:

[code]

Should at the same time also look into how we can integrate `redux-simple-router`.

[2015-12-17 13:54] typerandom opened #4 "Add support for custom forms"
Currently all forms are rendered with Bootstrap markup. But in many cases, let's say you're not using Bootstrap, you might want to use your own markup.

So in order to do that, I suggest that we allow for people to specify their own markup such as:

[code]

This would work by `RegistrationForm` checking if there are child nodes. And if there are, then it would scan those and map them to the regist

[2015-12-17 16:06] jaredpalmer commented on #2
+1. Permissions are essential.

[2015-12-17 19:28] lancecarlson opened #5 "Why make React Router a dependency?"
What if I want to use page.js ? Wouldn't it make more sense to just provide the reusable components and not require the user pull in the router dependency?

[2015-12-17 20:23] lancecarlson opened #6 "Using fetch api for UserService"
Might take down some lines of code. Isn't really necessary, but might be nice?

https://github.com/github/fetch

[2015-12-17 20:52] rorheden commented on #6
I fully agree with that. Will fix that once I get some time over :+1:  :)

[2015-12-17 20:56] rorheden commented on #5
Yeah, the dependency on React Router is something that is going to disappear. React Router will still of course be supported like it is now, but you shouldn't have to have that as a dependency in order to use the SDK. So valid point. And thanks for reporting it :) :+1:

[2015-12-18 10:37] rorheden commented on #2
I'm going to add this as soon as I have some time for it :)

[2015-12-18 10:43] typerandom opened #7 "Add tests"
We should add mocha and write tests.

[2015-12-19 19:10] lancecarlson commented on #5
=D

[2015-12-19 19:10] lancecarlson commented on #6
=D

[2015-12-22 23:11] typerandom opened #8 "Add isomorphic support"
We should allow rendering on both client and server-side.

[2015-12-26 18:42] guzmo opened #11 "Npm - Wrong version of history"
When I try to install the React sdk with npm I get:

[code]

Im currently using React-router version ^1.0.3

[2015-12-26 22:39] rorheden commented on #11
Thanks for reporting this issue!

This is a React Router/History incompability issue.

But I think that upgrading to the latest version will fix it, so will do that.

For error reference, see: https://github.com/rackt/react-router/releases/tag/v1.0.2

[2015-12-30 23:36] rorheden commented on #11
Closing issue since we now have a new release (v0.3.4) that uses react-router v1.0.3.

[2015-12-30 23:36] #11 closed

[2016-01-03 23:04] typerandom opened #14 "Add social login support"
We should add support for signing in with social login providers such as Google and Facebook. This should be "compatible" (very alike) with the way we do Social Login in the AngularJS integration:

http://docs.stormpath.com/angularjs/sdk/#/api/stormpath.spSocialLogin:spSocialLogin

I.e.

[code]

Or as a styled button (i.e. having the Facebook/Google, etc, icon):

[code]

[2016-01-08 22:11] jennyyuejin opened #15 "Bug: Registration redirected to login"
Hello,

Thanks for the good work!
Is there a way to customize the RegistrationForm:

* Where does it redirect to? Right now it redirects to Log in, which not only is redundant, but also causes a bug, since the user is already authenticated.
* Which fields go into the registration form.

Many thanks.
JJ

[2016-01-09 13:43] rorheden commented on #15
Thank you for reporting this issue! :+1:

When you register and get authenticated we render a LoginLink component. I can definitely see the issue with this so I confirmed this issue by labling it as a bug.

If you have any input/feedback here on how you'd like to use the RegistrationForm in order to do your redirect, then that would be awesome!

Regarding customizing the form fields [we currently

[2016-01-10 22:37] j-planet commented on #15
Hi typerandom,

Thanx for the lightning fast response!

While react-stormpath is great for getting a basic app up and running, there are certain things that are indeed blocking me from using this in a production-strength application. The byproduct/cost of the amazing speed at which this SDK is being developed, is bugs and lack of flexibility.
- (as mentioned) the registration -> login bug.
- route

[2016-01-11 13:11] typerandom opened #16 "Add Alt support"
We should add the ability for users to configure the SDK to work with Alt (as an alternative to flux/redux).

http://alt.js.org/

[2016-01-11 13:40] typerandom opened #17 "Improve documentation"
Documentation at the moment is very thin. We should improve this by documenting UserComponents, APIs and their features in more detail.

I.e. as this reported issue highlights the lack of documentation for the UserComponent:

[2016-01-11 13:43] rorheden commented on #15
Thank you for your honest feedback. That means a lot!

To address your issues one by one:

##### 1) (as mentioned) the registration -> login bug.

I'm currently bound up in some work. But since others have also requested the same features I will jump into fixing this right after I'm done with what I'm currently working on.

##### 2) route bugs: i cannot seem to be able to get rid of the default ro

[2016-01-11 15:32] j-planet commented on #15
Thanks, typerandom. Keep me posted!
For now I have reverted to using the stormpath rest api.

[2016-01-11 19:26] j-planet commented on #15
One more question: how do I send/modify custom user data using the React SDK?

Many thanks.

[2016-01-12 18:44] typerandom opened #18 "Add support for updating the user profile"
We should make it easy to update the user profile.

Since the Express SDK doesn't expose any endpoint for updating the user profile, this will only work when the user expose their own "update profile" endpoint.

#### Suggestion

**E.g. express endpoint:**

[code]

(originally from [https://github.com/stormpath/express-stormpath-angular-sample-project/blob/master/server/routes/profile.js](https://g

[2016-01-17 22:10] rorheden commented on #15
At the moment you cannot modify user data using the SDK. But I have created an issue for partially adding support for it:

https://github.com/stormpath/stormpath-sdk-react/issues/18

(Notice that it's only partially. It's currently not possible to do with the SDK alone. I.e. it will be required to add an endpoint in the back-end.)

[2016-02-01 22:38] Hanked opened #23 "Unable to login using LoginForm component"
Hi,

Really like the look of the react SDK but I'm having a problem with the login component.

I cloned and installed the example app but there seems to be a bug preventing user login. I can see that the app is using the `LoginForm` component:
[code]
It's located in the `src/pages/LoginPage.js` component.

Unfortunately, I get the following validation error every time I try to log in:
[code]
I hav

[2016-02-01 22:42] #23 closed

[2016-02-01 22:44] Hanked commented on #23
Closing as a duplicate of https://github.com/stormpath/stormpath-sdk-react/issues/15

This issue occurs when you try to login but already have an active session. Arguably, the login route shouldn't be available if you are already logged in to avoid the confusion. I think you are already addressing the fact that registration redirects to login.

[2016-02-02 08:33] rorheden commented on #23
Hi @Hanked,

Thanks for reporting that you're also experiencing this issue.

I'll prioritize a fix for it (#15).

Cheers!

Robin

[2016-02-04 12:12] Hanked commented on #18
Hi @typerandom, when do you plan to release this feature? Is there a feature branch that I can check out to have a play with? Thanks!

[2016-02-04 13:36] #4 closed

[2016-02-04 13:42] rorheden commented on #4
@jennyyuejin

We just added support for customizing the forms. I have not yet published a release, but keep an eye open, because I'll do that some time today. Meanwhile, check out the [API docs](https://github.com/stormpath/stormpath-sdk-react/blob/master/docs/api.md) on how to customize the forms.

Cheers!

Robin

[2016-02-04 13:45] rorheden commented on #18
Hey @Hanked,

I wish I had something for you to try, but unfortunately I have not come that far on this issue. But it's scheduled for the _near_ future (i.e. after fixing #15). Also, I just finished adding [custom forms support](https://github.com/stormpath/stormpath-sdk-react/issues/4), which will definitely speed up the development of this.

When I have a branch that you can play with, I'll send

[2016-02-04 13:59] rorheden commented on #18
@Hanked Also just marked this with the `prioritized` label, to highlight its importance :)

[2016-02-05 12:32] #15 closed

[2016-02-06 07:37] j-planet commented on #4
Thanx!!

[2016-02-06 16:59] typerandom commented on #18
test

[2016-02-06 17:03] typerandom opened #27 "test"
test456

[2016-02-06 17:04] rorheden commented on #27
abc

[2016-02-06 17:04] #27 closed

[2016-02-09 22:26] ghost commented on #18
Thanks @typerandom, I'll keep an eye out for updates.

[2016-02-20 16:04] typerandom opened #28 "Add CORS example"
We should provide an example of how to configure the React SDK for an API that resides on another domain.

[2016-02-22 18:36] robertjd opened #29 "Update to work with upcoming express-stormpath@3.0"
We need to update the SDK to work with the upcoming changes in [express-stormpath v3.0](https://github.com/stormpath/express-stormpath/milestones/3.0). With these changes I think we should move this library to 1.0.

### Todo

* [x] Add X-Stormpath-Agent header (#30)
* [x] Implement the registration view model (#32)
* [x] Implement the login view model (#33)
* [x] Implement the new JSON error respo

[2016-02-22 19:55] robertjd opened #30 "Add X-Stormpath-Agent header"
For requests that are made by this library, add the `X-Stormpath-Agent` header, where the value is `stormpath-sdk-react/<version>`.  Do not add this header if the request is going to a domain that is different from the current document, because we do not want to cause a cross-domain security exception for the application that is using this library.

[2016-02-23 14:04] rorheden commented on #30
I've added this but build the `X-Stormpath-Agent` as `package name`/`package version`. Does this work? The package name is `react-stormpath`.

[2016-02-23 14:20] rorheden commented on #29
@robertjd Yes, I think that we could do that.

[2016-02-23 14:20] typerandom opened #32 "Implement the registration view model"
Implement the registration view model according to the [spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/registration.md#registration-view-model).

[2016-02-23 14:20] typerandom opened #33 "Implement the login view model"
Implement the login view model according to the [spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/login.md#login-view-model).

[2016-02-23 14:23] typerandom opened #34 "Implement the new JSON error responses"
Implement the new JSON error format according to the [spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/error-handling.md).

[2016-02-23 16:06] typerandom opened #36 "Implement custom data support"
We need to support custom data in the RegistrationForm and when updating a user profile (see #18).

E.g.

`<input type="text" name="profileName" rel="customData" />`

[2016-02-23 16:15] typerandom opened #37 "Improve "Unexpected token <" error thrown when parsing invalid API response"
When an API call crashes and a HTML page is returned, then the message `Unexpected token <` is thrown from the JSON parser. This should be handled gracefully.

So instead of `Unexpected token <` the error message could be something more user-friendly. E.g:
`Unable to parse response from API. Please check that your API is running and correctly configured.`.

[2016-02-24 13:37] #30 closed

[2016-02-24 15:00] #34 closed

[2016-02-25 13:08] #33 closed

[2016-02-25 14:33] typerandom opened #40 "Logout request should be POST instead of GET"
In order to comply with [the framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/logout.md), we need to change the logout request from making a GET to a POST request.

Part of #29.

[2016-02-25 18:23] #32 closed

[2016-02-26 14:20] #40 closed

[2016-02-26 14:22] rorheden commented on #29
All issues are merged. Closing issue.

[2016-02-26 14:22] #29 closed

[2016-03-04 21:24] rorheden commented on #18
@Hanked There's now a PR for this (see #44). If you want to try it out, please do:)

[2016-03-04 21:41] #1 closed

[2016-03-04 23:30] #18 closed

[2016-03-05 21:39] rorheden commented on #17
I'm closing this since it's really no longer a problem. We've deprecated the UserComponent and the rest of the components have pretty solid documentation.

[2016-03-05 21:39] #17 closed

[2016-03-16 20:07] typerandom opened #48 "Add Relay support"
We should add support for [Relay](https://facebook.github.io/relay/).

When integrating with Relay one of our SDK users received this error:

So that needs to be investigated.

[2016-03-17 08:09] typerandom opened #49 "Add support for changing password with password reset token"
We need to add support for changing a password from a request with a password reset token.

I.e. something like:

[code]

[2016-03-20 20:37] peebles opened #51 "Why does this not work? (adding user context to Header.js)"
I would like to have the user's name in the header nav bar when user is logged in.  Why does this not work?:

    (...)
    export default class Header extends React.Component {
      static contextTypes = {
	  user: React.PropTypes.object
      };
      render() {
	  return (
	      <nav className="navbar navbar-default navbar-static-top">

and later on:

		    <Authenticated>

[2016-03-20 21:40] rorheden commented on #51
Hey. I think this is because the user functionality has not yet been released...

See: https://github.com/stormpath/stormpath-sdk-react/pull/45 (https://github.com/stormpath/stormpath-sdk-react/pull/45/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR5)

I'm really sorry for that. It's merged in, but I haven't cut a new release for it yet since there are a few other changes pending in the version that

[2016-03-20 22:26] peebles commented on #51
Yes, I have since found this out.  I am reading the doc in git, and writing code to that doc, but against the released version of react-stormpath.  Burned about 4 hours pulling my hair out.  I am better now, by manually checking out repo and copying to my node_modules.  I cannot seem to get npm install to fetch the git repo master.  Everything I try gets me react-stormpath@1.0.0:

Why does this no

[2016-03-21 02:12] peebles commented on #2
I am trying to solve this same problem.  I have three things I'd like to achieve:
1.  Protect routes by user roles.
2.  Show routes in a nav bar only if a user has certain roles.
3.  Redirect newly authenticated users to a different home route based on their role.

In my system, a user have have multiple roles.  One role, super-admin, has implicit access to everything, but this could be explicit.

[2016-03-21 14:19] #14 closed

[2016-03-21 19:00] peebles commented on #51
I am trying to get the sdk feature branch with npm, but whatever I do
(for example:

[code]

I _always_ get the release 1.0.0 package!  I thought there was a way to
do this, but I am having no luck.  I'd rather avoid doing a git-clone
and copying/linking the code into my own node_modules.

Arg!

a

On 3/20/16 2:40 PM, Robin wrote:

[2016-03-21 20:54] peebles opened #52 "feature-group-support"
I believe these lines in store/SessionStore are incorrect:

[code]

The first time in here, session.groups is an object with an href and an array of items, which then gets changed by getEnabledGroups to an object with keys corresponding to the enabled group names.  But this set() method gets called more times in the future, and session.groups gets set again, but on the second and subsequent calls,

[2016-03-21 22:50] guzmo commented on #8
Any estimates on when u think u will have time for this? :)

[2016-03-23 00:41] #49 closed

[2016-03-23 19:11] rorheden commented on #52
Thanks for this. I addressed the issue with the group HREF and fixed the other thing you mentioned in my PR #47. Therefore closing this.

[2016-03-23 19:11] #52 closed

[2016-03-23 19:13] rorheden commented on #51
Sorry for my late answer on this. It might have to do with the package version of master being labeled v1.0.0. If you haven't really gotten this to work, my recommendation is that you wait for the #47 PR to close so that we can merge that in and cut a new release. It's really the only thing we're waiting on before making a new release. So it will be out soon!

[2016-03-24 01:31] cbatesch opened #54 "TypeError: this.context.router is undefined"
I've integrated stormpath via react and keep getting the error

Here are my dependencies:
[code]

This happens when I click on the `<Link>` component in my header:

[code]

[2016-03-24 02:05] joshmarinacci commented on #14
This control does not work for me.  When I add it I get errors that the component doesn't exist. It doesn't appear to be in the imported code.  I'm guessing you tagged version 1.1.0 but didn't publish it to npm.

[2016-03-24 02:45] joshmarinacci opened #55 "Double encoding"
I think that services/UserService.js has a bug. On line 43 it calls makeRequest with the result of buildEndpoint. However, makeRequest already calls buildEndpoint internally, so the url may be constructed twice, resulting in urls that look like:

http://localhost:123http://localhost123/login

[2016-03-24 12:17] rorheden commented on #55
Thanks for noticing this! It's obviously wrong. I think it might have been a result of a merge conflict that wasn't resolved properly. I'll fix it.

[2016-03-24 12:19] rorheden commented on #54
Hey!

How does it look when you are setting up your application? Are you calling `ReactStormpath.init()`? Also, are you using the Router from the `react-stormpath` library?

[2016-03-24 15:52] rorheden commented on #54
Closing this since you've opened a support ticket instead.

[2016-03-24 15:52] #54 closed

[2016-03-24 17:11] joshmarinacci opened #56 "Link doesn't work with Stormpath Router"
I've got a Link element in my page. When using Stormpath's Router I get this error when I click the link.

TypeError: undefined is not an object (evaluating 'this.context.router.push')

When I use the standard ReactRouter it works fine.

[2016-03-28 22:15] joshmarinacci commented on #55
I see the commit. thanks.  Any ETA for publishing a new build to NPM?

[2016-03-28 22:19] joshmarinacci opened #57 "Contribution Guide is a broken link"
The Contribution Guide link on the bottom of the main index page (from README.md) is broken.

[2016-03-28 22:23] joshmarinacci opened #58 "Missing Build Instructions"
Can you provide instructions to build this repo and produce something that my app can link to?  I've checked out the code, done  'npm install' and then 'npm run build' and I get the following error:

Hash: f65caef1756e1ee215bd
Version: webpack 1.12.14
Time: 50ms
    + 1 hidden modules

ERROR in ./src/index.js
Module parse failed: /Users/josh/Desktop/projects/pixel-eater/node_modules/react-stormpat

[2016-03-29 18:22] typerandom opened #60 "Add support for react-router ~2.x.x"
We currently only support >=1.0.3, but we should look into adding support for ~2.x.x.

[2016-03-31 09:23] #2 closed

[2016-03-31 20:34] rorheden commented on #58
Thanks, I will look into adding this soon. Meanwhile, I have just released v1.1.0. See: https://github.com/stormpath/stormpath-sdk-react/releases/tag/1.1.0

[2016-03-31 20:35] rorheden commented on #51
Hey!

I have now released v1.1.0. Please see: https://github.com/stormpath/stormpath-sdk-react/releases/tag/1.1.0

Closing this issue since that version solves it.

[2016-03-31 20:35] #51 closed

[2016-03-31 20:41] bingdai commented on #60
Thanks for being aware of this issue. I ran into the exact problem yesterday.

I had React-Router 2.x.x, but routing failed for any path that is not "/". Rolling back React-Router to 1.0.3 fixed the problem.

[2016-03-31 20:44] peebles commented on #51
I will try this asap.  Thanks!
a

On 3/31/16 1:35 PM, Robin wrote:

[2016-04-02 00:27] joshmarinacci commented on #58
cool! Thanks.

[2016-04-02 06:09] bingdai opened #61 "ChangePasswordForm is not in the latest npm package (1.1.0)"
The "stormpath-sdk-react.js" file in the latest github release (1.1.0) has the "ChangePasswordForm" component. The url of the file is https://github.com/stormpath/stormpath-sdk-react/blob/master/dist/stormpath-sdk-react.js. It has 24 instances of the word "ChangePasswordForm".

However, the "stormpath-sdk-react.js" file in the package I downloaded locally using npm does not contain any instances o

[2016-04-03 13:49] rorheden commented on #61
Yeah, sorry. My mistake. I updated the dist files after releasing to npm. Didn't release a new version on npm because I thought that people probably used bower instead of npm to access those files.

[2016-04-13 00:32] peebles commented on #61
So ... you gonna correct this?

[2016-04-13 01:23] peebles opened #62 "browserHistory"
I am using react-router 1.0.3.  When I follow your examples/tutorials and do:

[code]

I get "clean urls", but if I change this to match the react-router examples:

[code]

Then I get hashed urls.

[2016-04-13 10:11] rorheden commented on #61
Sorry about that. It's now been fixed in v1.1.1.

[2016-04-13 10:11] #61 closed

[2016-04-13 18:04] peebles opened #63 "/change and ChangePasswordForm"
Who is handling /change endpoint?  express-stormpath documentation talkes about /reset and /change and its not clear which one is to be used.

    	<Route path='/change' component={ChangePasswordPage} />

is not working for me.  I never see the form.  Seems like /change is being consumed on the server side and index.html is being returned properly, but there is no form.  Here is my ChangePasswordP

[2016-04-13 19:13] peebles commented on #63
I have it working now.  It was apparently a tooling problem.

[code]

did not work.  Who knows why.  If I remove ChangePasswordPage from that line and import it all by itself:

[code]

then things started working.

Arg!! Two wasted hours in debug.

[2016-04-13 19:13] #63 closed

[2016-04-13 19:39] peebles opened #64 "changePassword autoLogin"
The express-stormpath sdk supports config.web.changePassword.autoLogin, which if enabled, redirects to config.web.login.nextUri.  It does not appear (by browsing the source) that a similar feature exists on the ChangePasswordForm in react-stormpath.  I'd like to have this functionality.  It does not seem possible with a custom form or form handler... Seems like this could be handled with something

[2016-04-14 16:59] bingdai commented on #62
I had lots of trouble with the issue too. I suspect that it has some backward-compatibility issues with the "history" package, so I had to roll-back the "history" package to solve it:

In package.json:

[code]

In my app.js:

[code]

Hope it helps!
Bing

[2016-04-14 18:52] peebles opened #65 "passthru authentication"
Shouldn't LoginRoute be doing something like:

[code]

(well, setting redirectTo).  Otherwise passthru auth doesn't work.  When not yet authenticated, a route to

    /abc

should bounce to /login, and if login is successful, you should land at /abc, not /.

Right?

[2016-04-15 03:05] peebles commented on #65
Here's how you could do passthru.  I've tested it locally and will submit a pull request.

In LoginForm:

[code]

And when you use the LoginForm, you got to pass the props that can from LoginRoute (where props.location was added by react-router):

[code]

[2016-04-15 15:04] rorheden commented on #65
Thanks for submitting this issue. This is definitely a problem that I need to look deeper into, but your solution looks like the right way to go.

I will look into this soon:)

Cheers!

Robin

[2016-04-15 15:11] rorheden commented on #64
No, you're correct about the behaviour missing out in the React Stormpath SDK. Unfortunately it's not that easy to hack together, so the change for this feature needs to be in the React Stormpath SDK.

[2016-04-15 15:15] rorheden commented on #62
This might have to do with us using outdated ReactRouter/History packages. There's an issue for moving to ReactRouter 2.x.x (we're currently using ReactRouter 1.0.3), so hopefully that will resolve this issue.

[2016-04-15 19:02] bingdai opened #67 "React.js tutorial (Dec. 2015) uses deprecated component UserComponent"
The tutorial is [Tutorial: Build a React.js Application With User Authentication] (https://stormpath.com/blog/build-a-react-app-with-user-authentication/), posted in Dec. 2015.

The *Profile Page* section uses `UserComponent`, which has been deprecated.

I wonder what we should be using now instead of `UserComponent`?

Thanks,
Bing

[2016-04-15 19:27] bingdai commented on #67
Oh... I found out about the answer in the error message :) We should use `Contexts` ([link](https://github.com/stormpath/stormpath-sdk-react/blob/master/docs/api.md#contexts)) instead.

However, I still have concerns: according to the [official Facebook React guide](https://facebook.github.io/react/docs/context.html), the user is Contexts should discouraged. I wonder if Stormpath would implement t

[2016-04-16 00:48] peebles commented on #64
If I set config.web.changePassword.autoLogin to true when I initialize the stormpath library, I might guess that the express-stormpath code would do something like "req.logIn()" (passport).  Then if ChangePasswordForm redirected to HomeRoute, I might guess it would work.  Hm.  I'll try it.

[2016-04-16 02:21] peebles commented on #64
I have a way of making this work, but it is sort of convoluted.  Let me know if this solution is viable or too Kludgey:

In the email workflow for Password Reset, don't use ${url}.  Instead, specify:  YOUR_BASE/change?${sptokenNameValuePair}&username=${account.email}

Then in user's ChangePasswordPage.js:

[code]

and then in react-stormpath's ChangePasswordForm.js:

[code]

and add a _performRedi

[2016-04-16 17:06] peebles commented on #64
A better solution I think would be for the express-stormpath code to return the account when change-password is invoked.  Then the ChangePasswordForm has access to the user's email field, as well as the password and can execute the login.  Line #58 in express-stormpath/lib/controllers/change-password.js should be "res.json( result )" instead of "res.end()".

[2016-04-18 18:40] peebles opened #71 "Warning when doing a custom ChangePasswordForm"
I have a custom ChangePasswordForm with a onSubmit handler (to check terms of service checkbox).  I am seeing this warning in the dev tools:

    Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're adding a new property in the synthetic event object. The property is never released. See https://fb.me/react-event-pooling for more information.

Otherwise thi

[2016-04-21 23:09] joshmarinacci opened #72 "Missing imports"
To follow the main instructions on the README.md you must import RegistrationForm, but this is not included in the default import instructions. The instructions should be updated.

[2016-04-21 23:58] joshmarinacci opened #73 "Github Auth redirect is broken (I think)"
I have express-stormpath on my server app running on port 30065
I have react-stormpath in my client React app, running on port 18080
I have imported and used SocialLoginButton in my main page like this:

                <SocialLoginLink providerId='github' redirectUri='http://localhost:18080/cbs' />

On my github app page I've confirmed that the "Authorization callback URL" is set to "http://local

[2016-04-22 22:02] bingdai commented on #36
Hi typerandom,

This feature is absolutely needed for my project :) any plans about whether it is still being worked on?

Thanks,
Bing

[2016-04-24 15:06] steveodom commented on #56
I encountered the same issue. I had to downgrade to react-router 1.0.3 from 2.3.0 to get it to work.

[2016-04-24 20:15] bingdai opened #75 "Auto-login *and* email verification for user registration"
I discovered recently that for user registration, StormPath forces us to pick between allowing auto-login or having email verification, and does not allow both simultaneously.

My team feels that while the security of email verification is necessary for our project, it is not worth the risk of forcing our users to leave our website and verify their email before they can continue their task. They c

[2016-04-26 07:25] #3 closed

[2016-05-03 18:06] typerandom opened #77 "Add Material UI support"
We need to add support for [Material UI](http://www.material-ui.com/) components such as the [Text Field](http://www.material-ui.com/#/components/text-field).

I.e. this will require forms to take Material UI form components into consideration when looking for React components to bind for.

[2016-05-05 20:26] rorheden commented on #62
This SDK is now updated to use React v15 and ReactRouter v2. So this issue should no longer be present. Also, please see ReactRouter v2 for the new way to specify router history:
https://github.com/reactjs/react-router/blob/master/upgrade-guides/v2.0.0.md#using-history-with-router

Closing since issue should be fixed.

[2016-05-05 20:26] #62 closed

[2016-05-05 20:27] rorheden commented on #60
This is now fixed. This SDK now supports React v15 and ReactRouter v2.

Closing issue.

[2016-05-05 20:27] #60 closed

[2016-05-05 20:28] rorheden commented on #56
The SDK has now been updated to use React v15 and ReactRouter v2. So this issue should be fixed.

Let me know if the issue is still present. But going to close this meanwhile.

[2016-05-05 20:28] #56 closed

[2016-05-05 20:29] rorheden commented on #55
This has been fixed and is also published. Closing issue.

[2016-05-05 20:29] #55 closed

[2016-05-12 02:02] peebles commented on #65
Any ETA on this?  1.2.1 still does not have support for this.

[2016-05-14 01:59] freddiecabrera commented on #3
This works without adding `<Provider> </Provider>` ?

[2016-05-17 13:30] thijsvdv opened #78 "API docs: EmailVerificationView should be VerifyEmailView"
I believe there's a small mistake in the api docs:

#### VerifyEmailView
...
`<EmailVerificationView spToken={this.props.location.query.sptoken} />`

should be

#### VerifyEmailView
...
`<VerifyEmailView spToken={this.props.location.query.sptoken} />`

[2016-05-27 19:49] dylanfpaul commented on #36
Same here, no custom data for the RegistrationForm component? I actually assumed it would be included in regards to the fact that 'custom data' is a thing in Stormpath. Honestly, I think that you guys should inform people that no custom data is possible (yet) with the RegistrationForm component because it took me a lot of researching and browsing to finally realize this..

[2016-05-29 16:58] michael-iglesias opened #79 "How would I include react-redux library?"
Hello,

How would I go about using react-redux and the Provider & connect higher order components it comes with? Is there any way to integrate react-redux?

[2016-06-10 14:27] tomoakley opened #80 "Why does enforceRootElement return a <span>?"
As the title says - why does `enforceRootElement` in `src/utils.js` return a `<span>`? Here is the code in question:

[code]

`<span>` elements are for inline stuff like text, they aren't supposed to hold block-level elements (such as `<div>`s). It means that things like `<Authenticated>` and `<NotAuthenticated>` produce `<span>`s holding whole modules of content. A far better element for `enforce

[2016-06-13 10:38] rorheden commented on #8
@guzmo Unfortunately we don't have an ETA on this. But we've had quite a few requests for it, so I'm hoping to plan it in for dev soon.

[2016-06-13 14:02] rorheden commented on #73
Hi Josh,

Sorry for the late answer. Did you manage solve this or are you still having the same problem?

Cheers,

Robin

[2016-06-13 14:05] rorheden commented on #78
Thank you for noticing this. 👍

Closing since this has been corrected.

[2016-06-13 14:08] rorheden commented on #80
The reason for this was just that `<span>` was less invasive to wrap with than `<div>`. But I agree with your reasoning about inline vs block-level.

[2016-06-13 14:15] tomoakley commented on #80
Cool thanks @typerandom :) Any plans to change it to a `<div>`? Happy to make a pull request if you want.

[2016-06-13 14:18] rorheden commented on #80
Definitely! But will probably change it to a `<div style={{display: 'inline-block'}}>`. Just to make it less invasive. How would you feel about that? :)

[2016-06-13 14:28] rorheden commented on #72
Thanks! I really value your input.

Though, this is done intentionally. The import statements are not "default imports", merely an illustration of how to import components from the library. I could fix this, but then I'd have to add all the components used in the readme, which would bloat it a bit. So unless more people see this as a problem, I'm just going to close this issue and keep it as it is

[2016-06-13 14:37] #72 closed

[2016-06-13 14:39] #78 closed

[2016-06-13 19:05] joshmarinacci commented on #73
I ended up using a different solution. I did the auth w/ Stormpath on the server side and didn't use the React component at all.

[2016-06-14 12:36] rorheden commented on #73
Okay. That's too bad. I haven't seen this exact issue before (related to the Stormpath React SDK), so I'm going to close this meanwhile and hope it was just a one time thing.

[2016-06-14 12:36] #73 closed

[2016-06-14 13:03] rorheden commented on #79
Hi Michael,

Have a look at the [Initialization API docs](https://github.com/stormpath/stormpath-sdk-react/blob/master/docs/api.md#initialization). The way to integrate Redux currently is by providing your own store when configuring the SDK.

I.e.

[code]

Does this help you? If not, please provide an example of how/what way you'd like to integrate with Redux.

Cheers!

Robin

[2016-06-14 16:12] #57 closed

[2016-06-14 16:12] #58 closed

[2016-06-16 10:10] tomoakley opened #85 "400 errors on login and registration using custom fields"
I've set up a registration and login form using the custom fields, but when I press the Submit button on either form I get 400 errors reported to the console, and the Error paragraph gives me error messages such as "Email required", even though the email field is filled in. Here is my JSX markup, followed by the HTML markup this produces:

[code]

`<Field />` is a JSX component which I have create

[2016-06-16 10:18] tomoakley opened #86 "Using className attribute on JSX stormpath components"
Would it be possible to add support for `className` on components such as `<RegistrationForm />`, `<Authenticated>`, etc? So that when the HTML markup is rendered, they have classes, e.g `<form class="..."></form>`? This isn't a massive problem but basically means that right now, I have to add parent/child elements (`<div>`s or similar) to target these, and creates a lot of empty/duplicate element

[2016-06-16 10:51] tomoakley commented on #85
After a little more digging, (added in an `onFormSubmit(e, next) { }` handler to log the data returned), it seems that none of the data entered into the forms is being returned. All I get when logging the data from the registration page is `Form submitted Object {givenName: "", surname: "", email: "", password: ""}`.

[2016-06-21 16:18] mdeggies opened #87 "Quickstart Errors"
There's some minor errors in the React Quickstart on api.stormpath.com and enterprise.stormpath.io: As shown in the screenshot, newlines are being added to the echo statement which messes with the stormpath.yml file. Also, the application href part is not being generated properly.

This is what is shown on the Quickstart page:
![screen shot 2016-06-21 at 9 12 50 am](https://cloud.githubusercontent

[2016-06-21 16:23] mdeggies commented on #87
Oops! It should actually look like this (with client and application on the same level):

![screen shot 2016-06-21 at 9 22 43 am](https://cloud.githubusercontent.com/assets/12939567/16237539/cee93408-3791-11e6-966b-1ba9f2308689.png)

[2016-06-21 16:42] jrubins opened #88 "Parse routes properly when routes are provided as a prop on the Router component"
Currently the routes are not "mapped" properly in the Stormpath `Router` component (in `_mapMarkedRoutes`) when the routes are provided as a prop instead of as children, like the following:
[code]
This is [supported in React Router as an alias](https://github.com/reactjs/react-router/blob/master/docs/API.md#router) and should be either supported in the Stormpath router extending class, or be calle

[2016-06-21 16:47] mdeggies commented on #85
Hey Tom. One thing I noticed is that you've tried to 'disable' some of the required Account fields -- that won't work. The fields required in the Account model are 'email, password, givenName, and surname.' Those have to be included in the API call to Stormpath when you try to create an Account, or you'll get errors. (You can always fill these in with dummy data if you don't want to ask your users

[2016-06-23 13:29] typerandom opened #90 "Login does not create session with expanded groups or custom data"
As the title states, login does not create a session with expanded groups or custom data. This is because the result from the `/login` endpoint is used. When logging in, it should query the `/me` endpoint instead.

[2016-06-24 11:17] #90 closed

[2016-06-27 15:48] #80 closed

[2016-06-28 04:56] brianbauer42 commented on #85
I am also having trouble with this.

[2016-06-29 00:38] peebles opened #92 "onSubmit() is really onPreSubmit(). I would like to see onSuccessfulSubmit()."
The onSubmit() support for the various forms is great for doing some validation, but I would also like to execute code after a successful form submission.  In particular, I want to route to another location, but I might want to do just about anything once I know the submission was complete and successful.

My particular use case is with ChangePasswordForm, which I would like to route to HomeRoute

[2016-06-29 17:14] mdeggies commented on #85
Hey guys, we're looking into this now and will provide an update as soon as we can.

[2016-06-29 18:15] rorheden commented on #85
Hey!

I think this has to do with your custom Field-component. I.e. the reason why there are no values is because the mapping function that looks for fields to map fail to do so. And because of that you get a bad request.

@bbauer1702 Can you confirm if you are also using custom fields instead of just the regular input-component?

[2016-06-29 19:32] brianbauer42 commented on #85
Yes I am using custom fields. The standard fields (email, pw, givenName, and surname) all work as expected.

[2016-06-29 21:55] rorheden commented on #85
@bbauer1702 Ok. Do you have any exemple of the code that you are using?

[2016-07-01 11:56] rorheden commented on #92
That is a good suggestion! Just have to think a little bit more on how to model this.

[2016-07-01 11:59] rorheden commented on #79
Closing this issue since there hasn't been any answer for 17 days.

[2016-07-01 11:59] #79 closed

[2016-07-01 12:01] rorheden commented on #86
Most components should have fall-through attributes. I.e. if you use className then it should be forwarded onto the containing element. But it might not be consistent among all components. I'm going to look into this, since your suggestion is how it should work :)

[2016-07-01 12:02] rorheden commented on #88
Thanks for reporting this issue. I have filed it as a bug and hope to look into it soon!

[2016-07-01 12:08] rorheden commented on #75
Hi Bing,

I would really like to help you. Unfortunately this is how Stormpath currently works and I don't think that it's something that we are going to change any time soon. And since this is out of the scope of the React SDK (this repo) and I don't have your email, my suggestion is that you send this same question to `support@stormpath.com`. Though, there might be some other work-around solutio

[2016-07-01 12:08] #75 closed

[2016-07-01 12:10] rorheden commented on #67
Thank you! The blog post has been fixed since some time so I'm going to go ahead and close this issue. Also, regarding the use of contexts. There's definitely thoughts in place to make the library more generic and get rid of too much dependency on contexts:)

[2016-07-01 12:10] #67 closed

[2016-07-01 12:10] rorheden commented on #37
This should have been fixed since some time now. I'm going to close this issue.

[2016-07-01 12:10] #37 closed

[2016-07-01 12:14] rorheden commented on #64
I'm going to look into this and see if there's a way that we can add this! I definitely think the second approach (if any) is the way to go.

[2016-07-01 15:22] edjiang commented on #92
Hey @peebles, by the way: I see you've been commenting on our stuff and contributing a bit here and there over the past few months.

We've been trying out a slack channel for people using Stormpath; I'd love to see you participate as well =] Use this link to join: https://talkstormpath.shipit.xyz

[2016-07-07 15:10] davelandry opened #95 "Unknown prop `spIf` on <span> tag"
I'm getting this error in the browser console when loading the default user profile component:

[code]

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.87 Safari/537.36

[2016-07-10 12:07] rorheden commented on #95
Thanks for reporting this. I'm going to look into this issue soon and get back to you!

[2016-07-10 16:00] rorheden commented on #95
This seems to be a new warning/behaviour introduced in the latest version of React. I'm investigating on how exactly to fix this. It looks as if it can be kind of tedious and requires a change in how we do control flow/binding statements in the SDK (spIf, spBind).

[2016-07-20 16:52] timothyej commented on #95
@typerandom

In React it seems to be more common to wrap logic in new components rather than adding new attributes on _built-in_ components. I'm not too familiar with React nor this SDK so correct me if I'm wrong. However here are some ideas...

Instead of doing like this:

[code]

How about doing something like this:

[code]

Another approach would be to let the user control it themselves, withou

[2016-07-20 17:04] rorheden commented on #95
@timothyej

That was actually my first approach to solving this issue, and something we've discussed previously during the design stage of the spIf/spBind behaviours. The reason I went with inline attributes was because it was less invasive and required less code (no additional imports, no additional DOM nodes, etc).

The fix I have done in the current branch that I'm working on is simply to prefi

[2016-07-20 17:09] timothyej commented on #95
Yeah I remember that I never really liked these attributes. And adding the `data` prefix would still break the API, wouldn't it?

[2016-07-20 17:09] rorheden commented on #95
Regarding `<UserProfileForm {...this.props} ref={(ref) => this._form = ref}>` I haven't seen that before. In a way I like it, but it also looks very hacky.

[2016-07-20 17:11] rorheden commented on #95
@timothyej No, it won't break anything. The `data-` prefix is simply an alias. So both `spIf` and `data-spIf` will work. Just that `spIf` will throw a warning.

[2016-07-20 17:15] timothyej commented on #95
It's pretty common in React Native whenever you want to get the reference to a component. This looks like a good use-case to use the reference.

The old ones would only work in older versions of React, right? If so, docs and all examples would still need to be updated. Then you could just as well implement a better solution and just deprecate these attributes? :)

[2016-07-20 17:36] rorheden commented on #95
@timothyej

I respect your opinion. But this is really just a waste of time right now and this discussion should take place in another time/place than this issue. I.e. I'd rather have you open a new issue for it.

What is keeping this issue from being resolved is the upgrade compatibility with React-Router. When upgrading to React v15.2.1 we had to upgrade to React-Router v2.6.0 (from v2.4.0).

In

[2016-07-24 18:47] typerandom opened #96 "SocialLoginLink does not redirect to authenticated HomeRoute"
When logging in using the SocialLoginLink it does not redirect to the authenticated HomeRoute.

The social login link needs to build a redirect/callback uri where the `next` query string parameter is attached and the path of the authenticated home route is included.

#### How to reproduce

1. Download and use the [React SDK example application](https://github.com/stormpath/stormpath-express-react-

[2016-07-25 11:37] rorheden commented on #87
@mdeggies

I'm unable to reproduce this. What OS and terminal are you using?

[2016-07-25 12:14] #95 closed

[2016-07-25 17:41] omgitstom opened #100 "Fix User Agent"
React needs to pass:
stormpath-sdk-react

https://stormpath.atlassian.net/wiki/display/SDKS/User-Agent

[2016-07-25 22:39] robertjd commented on #87
@typerandom I'm seeing the same issue with OSX and vanilla Bash.

We shouldn't use this type of echo instruction in quickstarts, as it is not cross-platform.  This quickstart should be updated to be clear about what `stormpath.yaml` does and what needs to be placed in it.  I started a branch in the IAMUI repositorty, `improve-react-quickstarts`, where I made a quick modification that improves this

[2016-07-25 22:39] #87 closed

[2016-07-26 13:46] rorheden commented on #87
@robertjd Thanks, will do!

[2016-07-26 13:47] rorheden commented on #87
@robertjd Did you create a JIRA issue for it instead? I'm not seeing one.

[2016-07-26 17:33] anthonymayer opened #102 "`LogoutLink` `redirectTo` should not update during logout"
I'm trying to send certain users to specific post logout page. The problem is that during the logout the user state updates and the `redirectTo` value I set before logging out becomes `null`. I'm not seeing a way of currently doing this. I think the solution is to store the `redirectTo` url before logout actually happens and then use that value, rather than the value after logout. What do you thin

[2016-07-26 20:22] rorheden commented on #102
Thanks for reporting this issue. I'm going to look into it. If it is as you say, it's should probably be fixed in a few other places as well.

[2016-07-29 15:47] cparker15 opened #106 "JSX routes only?"
Will this SDK only support JSX routes? I'm trying to use routes like this (from @davezuko's `react-redux-starter-kit`) with no success:

definition:
[code]

usage:
[code]

[2016-07-29 16:59] rorheden commented on #106
Thanks for reporting this issue. I'm going to look into it. I think the issue here is that the `type` property of the route is missing, and that is what we are looking at when we are mapping up the routes (see https://github.com/stormpath/stormpath-sdk-react/blob/master/src/components/Router.js#L59). In theory it should work if you add the property `type` and in that, specify the React-Stormpath r

[2016-07-29 19:31] cparker15 commented on #106
Thank you for your quick response! Unfortunately, adding the `HomeRoute` did not solve the issue.

However, I threw a `try`/`catch` around `render()` and caught this, which seems like it may be helpful.

It seems that the `routes` prop is expected to be a JSX component exclusively, and it doesn't seem as though the `childRoutes` prop for `PlainRoute` objects is implemented. React Router's `Router`

[2016-08-02 16:50] cparker15 opened #107 "Default LoginForm sends wrong key for "username""
The `/login` endpoint expects to receive key/value pairs with keys of `login` and `password`.

[code]

However, the current version (as of commit 91db84af21c3e4b8a5fbd657fd0651ee71642cfa) of the LoginForm component sends key/value pairs with keys of `username` and `password`.

[code]

This results in the following response:

[code]

[2016-08-02 17:48] #100 closed

[2016-08-03 02:52] robertjd commented on #96
Let's consider this the same conversation as stormpath/express-stormpath#482

[2016-08-03 15:21] #88 closed

[2016-08-03 15:21] #28 closed

[2016-08-04 08:01] rorheden commented on #107
Thanks for reporting this issue! I'm looking into it right now! :)

[2016-08-05 01:22] #107 closed

[2016-08-05 01:24] robertjd commented on #107
Thanks @cparker15 , we just merged a fix, expect to see this in the next release!  Just curious, which backend are you integrating with?  It seems that we didn't notice this because our express-stormpath backend is permitting both username and login as the property.

[2016-08-05 10:40] #86 closed

[2016-08-05 14:24] cparker15 commented on #107
Thank you for the quick turnaround! I'm integrating with a .NET backend.

[2016-08-05 15:40] #102 closed

[2016-08-05 21:20] rdegges opened #109 "Sphinx Docs"
We should have Sphinx documentation for this project like all of our other supported libraries.

[2016-08-07 14:52] rorheden commented on #36
I agree with you. I'm going to look into getting this prioritized higher!

[2016-08-07 16:47] rorheden commented on #96
This should actually be closed. I wrote this in the PR:

So what we should do is simply add a note about this in the docs.

[2016-08-08 16:52] robertjd commented on #96
@typerandom Setting `web.login.nextUri` is not a solution because it's a static configuration.  The solution is what you've proposed stormpath/express-stormpath#482, and should be implemented in that library (I'm keeping that issue open).

[2016-08-08 16:53] robertjd commented on #109
@rdegges For posterity, are you looking for a use-case based guide?

[2016-08-08 16:55] rdegges commented on #109
Something similar to express-stormpath would be awesome, I think.

[2016-08-08 18:29] #96 closed

[2016-08-10 17:31] robertjd commented on #109
Per discussion this week, we'll continue to use the README in this repro as the primary documentation for now.  In the future we'd like to add JsDoc to this repo for API documentation and use that instead of Sphinx.

[2016-08-10 17:31] #109 closed

[2016-08-18 20:39] #36 closed

[2016-08-18 20:56] #92 closed

[2016-08-18 22:00] robertjd opened #114 "Reference Express-Stormpath and ASP.NET Core in API docs"
Anywhere in the docs that we reference server-side configuration (e.g. for custom form fields or expansion configuration) we should link to both Express-Stormpath and ASP.NET documentation, as both frameworks are working for these features (and have matching docs):

http://docs.stormpath.com/nodejs/express/latest/

https://docs.stormpath.com/dotnet/aspnetcore/latest/

[2016-08-24 23:59] robertjd opened #116 "Auto Login, on registration, should be opt-in"
This should be disabled by default, the developer needs to opt-in to this behavior.

[2016-08-25 12:38] #77 closed

[2016-08-25 12:38] #85 closed

[2016-08-26 14:45] snorrees opened #117 "ResetPasswordFrom does not send custom payload"
The ResetPasswordForm does not seem to correctly send custom data when specified (unlike other forms that allow custom fields.

https://github.com/stormpath/stormpath-sdk-react/blob/master/src/components/ResetPasswordForm.js#L72

Other forms send data, which is correctly defaulted in the line above.

Example:
`next(null,{
  email: 'myHardcodedString',
  myOtherStuff: 'customField'
});
`

Will _not

[2016-08-26 14:52] rorheden commented on #117
Thank you for noticing this! I'm going to look into this bug shortly.

[2016-08-26 15:03] snorrees commented on #117
Speedy response!

I see that the master branch already include a way for nested child-inputs to register as well: that is the reason why I'm doing this custom-submit now, but I probably wont have to in the next release (redux form Fields where not being correctly located by the Stormpath forms).

[2016-08-26 15:19] rorheden commented on #117
I see. Do you have any code to show the custom form you are using now?

I'm guessing it's this library that you are using?
https://github.com/erikras/redux-form

I haven't tested it, but I think that their API should be compatible.

[2016-08-26 15:48] snorrees commented on #117
From the code-changes & doc changes it should be as long as I follow the naming conventions specified.

In my case I guess there are several layers of nesting going on:

react-flexbox-grid (`<Grid><Row><Col>`)
then redux-from (`<Field name='name' ...>`)
then react-toolbox (`<Input ...> -> input`)
name is however passed all the way down, so I think it should be fine.

My current workaround has been

[2016-08-29 20:50] lauffenp opened #118 "ChangePasswordForm giving error (sptoken or otherwise?)"
I'm trying to implement the changepasswordform component:

`                <ChangePasswordForm spToken={this.props.location.query.sptoken} />
`

However, I always get:

Unexpected token < in JSON at position 0 Set New Password

in the pop-up error dialog.

The server console is logging as:
 POST /change 302
GET /forgot 304

Browser is logging:

Warning: Unknown DOM property data-spIf. Did you mea

[2016-08-30 04:41] phil-lauffenburger commented on #118
Maybe I'm not following the right order. Do I need to always do a password request before doing a change password?

[2016-08-30 13:39] typerandom opened #119 "Add ability to customize VerifyEmailView"
We should add the ability to customize the `VerifyEmailView` component.

E.g.

[code]

[2016-09-01 13:58] typerandom opened #120 "Add ability to set custom endpoint for forms"
Currently the endpoint is set globally when `ReactStormpath.init()` is called. But we should allow components that call a certain endpoint to set their endpoint locally.

E.g.

[code]

[2016-09-12 16:54] scheung38 opened #122 "where are the jsx files for a react named project?"
thanks

[2016-09-12 18:37] rorheden commented on #122
I'm not sure that I understand your question. In this project we're not using the `.jsx` extension for files with JSX. For convenience all files with JavaScript are named `.js`. Even those containing JSX.

E.g. https://github.com/stormpath/stormpath-sdk-react/blob/master/src/components/VerifyEmailView.js#L32

[2016-09-20 22:03] rorheden commented on #122
Closing this issue because of no answer.

[2016-09-20 22:03] #122 closed

[2016-09-26 13:49] typerandom opened #123 "SocialLoginLink should support the onClick event property"
Currently the `onClick` property of the `SocialLoginLink` component is ignored if provided to the component as shown below:

[code]

This is something that we should support.

[2016-09-27 18:43] #114 closed

[2016-10-05 09:32] lukaszgrolik opened #125 "Route component swallows errors"
I have following routes configuration:

[code]

AppsPage.js component code:

[code]

Console logs only `'a'` - doesn't log either error or `'b'`

If I change code (move route with `AppsPage` component outside of `AuthenticatedRoute` and `HomeRoute`):

[code]

then it works:

`AppsPage.js:26Uncaught ReferenceError: fasf is not defined`

[2016-10-14 11:55] tanzim opened #126 "Document the Flux dispatcher for non Flux users"
Hi,
We don't use Flux for our application, but still had to hook into it to receive stormpath events for login/logout etc.
While it wasn't a big deal, it took a while to dig around the sources to see what evens were generated and how to get hold of the dispatcher itself. It would be nice if an example was provided?

In case someone else is wondering the same, what we ended up doing was something l

[2016-10-14 15:44] rorheden commented on #126
Thank you for reporting this and awesome that you figured it out yourself!

This is definitely something we have overlooked and that we need to improve on.

I have tagged this as an enhancement, so once we have some time over we'll fix it! :)

Again, thanks and hope you have an awesome weekend!

[2016-10-27 23:14] kylecesmat opened #128 ""Unable to get property 'me' of undefined or null reference" in IE10"
Hi, I'm receiving an error using this module in IE10, and wondering if it might be a configuration or perhaps known error. I tracked the exact error to this line. I don't have a reproducible example unfortunately :/ Works fine across other browsers, IE10 & IE9 choke on it though.

https://github.com/stormpath/stormpath-sdk-react/blob/5d40f436e301f9e40a6ce5e9018541c9fb2708ba/src/services/UserServic

[2016-10-27 23:16] robertjd commented on #128
Hi @kylecesmat , thanks for the bug report, I've flagged this for our team to look at.

[2016-10-31 08:40] DCKT opened #129 "Login content-type"
Hi,

When I want to sign-in, I had a bad Content-Type error from the server who's expect `application/x-www-form-urlencoded` except that the react plugin send a `application/json` Content-type.

![capture d ecran 2016-10-31 a 09 38 02](https://cloud.githubusercontent.com/assets/1548421/19848444/c224f238-9f4d-11e6-88c8-e3494692a0f7.png)

Here is an overview of the request :
![capture d ecran 2016-1

[2016-10-31 16:00] rorheden commented on #129
I'm closing this since it was determined on the slack channel talkstormpath that the issue was that login was posting to /oauth/token instead of /login. And that the back-end API was a custom Scala endpoint that did not implement the framework spec for /login.

[2016-10-31 16:00] #129 closed

[2016-10-31 22:09] omgitstom opened #130 "Implement oauth token strategy if detected that domain is different"
Not all clients have a cookie store, for example the Iconic framework. At the moment this library assumes that authentication is being handled by cookies.

This library should support the ability to pass the access token in the Authorization header, but the details about where the token is stored should be abstracted behind a generic interface. If using mobile, the filesystem API should be used (o

[2016-11-02 14:21] the-overengineer commented on #128
@kylecesmat Hey! Thanks for reporting this. Unfortunately, I have not been able to reproduce your issue in a simple project. I _have_ run into something different when running IE11 in IE10 compatibility mode, but it should not be causing your particular issue (see PR #131).

As you are unable to provide a reproducible example, could you please be as kind as to answer a few questions?
1. Does this

[2016-11-02 18:25] kylecesmat commented on #128
@Tweety-FER Thanks for taking time to look into this!
1. I can work on testing with the basic example
2. This might be where the error is stemming from? This is what my init method looks like:

[code]

And Unfortunately, this is happening on app load, and we're unable to test various routes. This entry route is unauthenticated. Trying to reach other public routes like `/registration` result in the

[2016-11-02 18:44] kylecesmat commented on #128
@Tweety-FER Actually, we pulled in your PR and it fixed the issue! 🎉  We git-installed your branch, and had to tweak `package.json` to point to main (relying on git installs isnt ideal so thats fine this is broken by default).

Would you be able to merge the fix & tag/publish this week?

[2016-11-02 18:45] oshalygin opened #132 "Redux: Plumbing to a reducer"
Fairly certain I've set the application up as per the documentation but I'm having a hard time picking up on the events dispatched by `ReactStormpath`.  I was looking through the user actions but `ReactStormpath` is not tied into my store and I'm not able to see any of these events dispatched and funneled to my reducer.

I'm trying to get these actions to my reducer:
https://github.com/stormpath/s

[2016-11-02 18:54] rorheden commented on #132
Hi Oleg!

It looks as if your configuration is wrong. If you have a look at the docs (https://github.com/stormpath/stormpath-sdk-react/blob/master/docs/api.md#initialization) you can see that the config should be:

[code]

Instead of:

[code]

I.e. if you change your ReactStormpath.init() to:

[code]

Try that and let me know how it works!

[2016-11-02 19:42] oshalygin commented on #132
Wow thats a bit embarrassing!  Really appreciate it.  Works like a charm now!  Thanks again!

[2016-11-02 19:42] #132 closed

[2016-11-02 20:10] jeremy-dorfschmidt commented on #123
This could also be added to the `LogoutLink` Component.

[2016-11-02 20:23] typerandom opened #133 "LogoutLink should support the onClick event property"
Currently the `onClick` property of the `LogoutLink` component is ignored if provided to the component as shown below:

[code]

This is something that we should support.

[2016-11-02 20:23] rorheden commented on #123
@jeremy-myRise-house Thank you Jeremy for reporting that! I created a new issue for it. See #133.

[2016-11-03 03:41] oshalygin opened #134 "Best practice around API key/secret in the application(CI=>UAT/QA=>Production)"
Currently I'm storing these keys in the root of the application in a stormpath.yml file.  Is there a best practice around creating a CI(continuous integration), UAT(user acceptance testing) and production accounts that have these keys attached to them?

Let's say I get hit by a bus tomorrow, I'd like for my team to be able to manage these keys.  Just kidding about the bus, maybe win a million buck

[2016-11-03 12:30] mrioan commented on #134
I think your question can be decomposed into 2:

Q1. How to avoid the keys to be read/stolen
Q2. How to manage the keys so they are not lost

A1. The most secure approach that we currently support and we recommend is to save the file in the home directory in the following location:

[code]

Change the file permissions to ensure only the specific logged in user can read this file and not accidental

[2016-11-03 15:53] the-overengineer commented on #128
@kylecesmat Thanks for the effort! Can't say when it will be published, though, not up to me. @robertjd Could you give it a look? It's a rather small change.

[2016-11-03 16:00] robertjd commented on #128
I'll need to defer to @typerandom for this one, I'm pretty busy with our express library right now :)

[2016-11-03 20:13] oshalygin commented on #134
Thanks @mrioan !

[2016-11-03 20:13] #134 closed

[2016-11-04 15:03] rorheden commented on #128
I'm closing this issue since this fix is now in release v1.3.2 (see https://github.com/stormpath/stormpath-sdk-react/releases/tag/1.3.2).

[2016-11-04 15:03] #128 closed

[2016-11-14 22:42] mheisig opened #138 "<LoginLink/> error during component test"
I have a component `<GlobalHeader/>` that uses the `<LoginLink/>` component. When I attempt to test `<GlobalHeader/>` I get an error:

[code]

This appears to trace back to `<LoginLink/>` but I can't determine why it's broken. This only happens during testing, it renders just fine outside of tests.

[2016-11-14 23:43] robertjd commented on #138
Thanks @mheisig for the report, can you also tell us which testing frameworks and patterns you are using?

[2016-11-15 21:41] mheisig commented on #138
This appears to be related to an older version of `react-router` that I was using. Updating to the latest appears to have solved the problem:

[code]

FWIW, this was using Karma, Mocha, and Enzyme.

[2016-11-16 05:51] rorheden commented on #138
@mheisig Great to hear that updating your `react-router` version solved the issue!

[2016-11-16 05:51] #138 closed

[2016-11-17 21:41] JesperWe opened #139 "Can only build on Windows?"
Trying to build under Unix fails.
It seems to me you can only `npm run build` on case-insensitive Windows, since you are including `../context` but the file is called `Context.js`?

[2016-11-17 21:47] robertjd commented on #139
Hi @JesperWe that could be the problem, if you reach into the node module and rename `src/Context.js` to `src/context.js`, does the build succeed?

[2016-11-18 06:35] JesperWe commented on #139
Yes

[2016-11-28 13:20] liesislukas opened #140 "LoginForm username & password empty but only on live server, works locally"
Hey, i'm using LoginForm component `import {LoginForm} from 'react-stormpath';`

[code]

It works well while developing locally, but when i push it to live server this form sends post request to API without username/password.

![image](https://cloud.githubusercontent.com/assets/2733862/20669519/5815e8a2-b57d-11e6-8464-c5026aff6ab8.png)

Response: `{"account":{"href":"https://api.stormpath.com/v1/a

[2016-11-28 17:40] robertjd commented on #140
Hi @liesislukas thanks for the report.  Is there a build step for your react app when it goes into production?  I'm wondering if the react app itself is in any way different between local and production?

[2016-11-29 12:12] liesislukas commented on #140
Thanks, for quick reply, there is built step, but only config change for production is url to api. Locally i use localhost api server and on production its auth.example.com All other is done with same webpack config, just production flag. We use default https://www.netlify.com/ config, which is current nodejs version with flag env = production

[2016-12-01 15:01] liesislukas commented on #140
any progress on this?

[2016-12-02 09:11] rorheden commented on #140
@liesislukas

My guess is that it's the form field mapping that isn't working. But I find it very strange that this is working locally and not when running in production. What form component are you using? Are you mapping your fields manually to the form in any way?

If you are able to provide us with more source code, then that would be really appreciated.

[2016-12-02 09:21] rorheden commented on #139
Hi @JesperWe,

We're actually using OSX, but the filesystem there is configured to be case-insensitive by default (which is pretty annoying).

But thanks for reporting this! I have submitted a fix for it now.

[2016-12-03 09:22] liesislukas commented on #140
we use semantic-ui for reactjs. Form is simple component with these inputs:

http://react.semantic-ui.com/elements/input

[code]

adding also webpack config:

[code]

[2016-12-05 12:32] #125 closed

[2016-12-05 12:58] #123 closed

[2016-12-05 17:38] #139 closed

[2016-12-06 11:02] typerandom opened #142 "Improve ability to recover from lost session / network connectivity"
There are currently some issues that needs to be adressed regarding when a user loses his session or network connectivity.

Some of the things that can be improved:

* Have a heartbeat function that keeps monitors if the session is lost (e.g. token if expired).
* Monitor API calls for 401 responses.
* Recover properly from network connectivity issues. One example of this can be seen [here](https:/

[2016-12-06 11:42] liesislukas opened #143 "After switch to your new cloud API "Http method 'POST' is not supported." default login form"
Hey, thanks for big update which allows not to use our own stormpath servers.

Following your guidelines to make a switch:

https://docs.stormpath.com/client-api/product-guide/latest/index.html

Using default form component from this repository installed via npm, but when trying to login i get response:

[code]

from /login endpoint

![image](https://cloud.githubusercontent.com/assets/2733862/2092

[2016-12-06 18:28] edjiang commented on #143
Thanks @liesislukas! We're really excited for this feature, too.

We've made some changes in the API, so we're modifying our client libraries to support this new API. So what's on NPM right now won't work with the client API until we make changes to this library.

See this PR for more details: https://github.com/stormpath/stormpath-sdk-react/pull/137

[2016-12-07 10:25] berislavlopac commented on #143
Do you have any ideas when it might be released? Thanks!

[2016-12-07 14:24] rorheden commented on #140
Hi Lucas,

I'm able to replicate this error. Mapping actually works as expected, even when I build for production. So there's something else playing in that I need to investigate further. Do you have your site deployed anywhere with the prod build, where I could try it out?

Meanwhile, a hack that you can do is the following:

In your `Login` component class, add:

[code]

Then for your inputs, se

[2016-12-07 14:50] liesislukas commented on #140
Thanks for workaround. What i did is using your default form and adding css to it so it looks same as this semantic form, just works as expected w/o such hacks. Thanks for your care!

[2016-12-07 14:50] #140 closed

[2016-12-07 18:01] robertjd commented on #143
Soon :) we're currently updating the social login components.

[2016-12-08 15:08] rorheden commented on #143
I recommend that you watch the PR #137. When that PR is merged and we've cut a new release, you'll have full Client API support in the SDK.

[2016-12-08 15:08] #143 closed

[2016-12-12 23:57] mheisig opened #144 "SAML SocialLink doesn't work"
I have a SAML directory and the LoginForm will recognize that and generate a SAML link. Clicking the link just goes to a /false route, however.

[2016-12-13 00:01] robertjd commented on #144
Hi @mheisig , thanks for flagging this. I'll ping our team to take a look at this.

[2016-12-13 15:11] typerandom opened #145 "Support the SAML login flow"
We need to add support for the SAML login flow.

[2016-12-13 15:21] rorheden commented on #144
@mheisig Unfortunately SAML isn't currently supported and there's no workaround for this in the SDK. So I just created issue #145 for this. So my recommendation is that you watch this issue until it's closed, since the SDK will have SAML support then.

[2016-12-14 08:27] liesislukas opened #146 "how can i get access_token?"
I see it in cookies, but it has `http only` flag and can't be read with my js, which is i believe to protect from xss, but how can i get `access_token`?

[2016-12-14 09:45] rorheden commented on #146
Hi @liesislukas, unfortunately this is currently not possible when using our cookie authentication strategy. We're currently working on having token support in local storage (see PR #137). Once this is merged using this new authentication strategy you'll be able to access your token directly client-side.

[2016-12-14 09:45] #146 closed

[2016-12-14 18:11] mheisig commented on #144
Thanks, @typerandom. Will it be possible for me to manually support this myself if I:

1. Generate the JWT `accessToken` myself on the server
2. Initiate the SAML auth flow via the Stormpath SAML SSO Initiation Endpoint URL
3. Handle the response JWT on my server

[2016-12-14 18:16] robertjd commented on #144
Hi @mheisig , it certainly is possible to implement this manually.  Steps 2 and 3 of your comment are correct, I'm not sure what you mean in step 1?

It may be helpful to look at how we're implementing this in our express-stormpath library:

https://github.com/stormpath/express-stormpath/pull/557

Let us know if you have more questions, thanks!

[2016-12-15 17:27] liesislukas commented on #146
could you implement `onLogin` or similar callback and pass that token there?

[2016-12-21 18:33] thedrew12 opened #147 "After logging in I can't POST to /me"
I'm trying to update the customdata for a user from the client, but I keep getting a `401 Unauthorized`

I know I'm logged in because I get a `200` when i login from the `/me` endpoint.
The client makes a post request to `/me` and the server picks it up, but that is as far as I get.
This is what my endpoint looks like:
```app.post('/me', stormpath.loginRequired, (req, res) => {...```

If I try and

[2016-12-21 18:40] robertjd commented on #147
Hi @thedrew12 , our default `/me` endpoint is read-only.  You'll have to create your own handler, which I see you doing.  Because of how express works, our handler will always kick in before yours, so you'll have to disable ours first wit configuration:

[code]

This does however mean that you'll have to manually implement get as well this should do the trick:

[code]

The alternative is to use a

[2016-12-21 18:55] thedrew12 commented on #147
Ok, I implemented a different endpoint `/profile` with the same configuration, but I'm still getting a `401`

[2016-12-22 00:25] thedrew12 opened #148 "Not getting authenticated when i use the redirectUri prop on the SocialLoginLink"
If I specify a `redirectUri` on the `SocialLoginLink` component I get redirected back to the right URI, but I'm not authenticated. If I don't specify a `redirectUri` and use the default one I do get authenticated.

`<SocialLoginLink providerId='facebook' redirectUri={window.location.origin}>`

[2016-12-22 04:50] mcottingham opened #149 "LogoutLink posting to /logout without specifying a content type"
Using ASP .Net Core with stormpath-react

The LogoutLink component issues a POST request to the backend without specifying a ContentType in the header.

Is this a bug?  Or is this something that I'm doing incorrectly on my side?

[2016-12-22 18:45] robertjd commented on #147
Hi @thedrew12 are you still seeing this error?  If so it'll be helpful to see the code in these areas:

* How Stormpath is initialized in your express server
* How your profile route is setup
* How you're posting the data from your React app

Also, are you in a cross-domain situation?  If so you may need to setup some CORS headers so that the browser will send the authentication cookies to your ex

[2016-12-22 19:16] robertjd commented on #148
Hi @thedrew12 , this happens because we're doing the authorization code flow with facebook, which requires you to land on the `/callbacks/facebook` endpoint of our express app.  That endpoint handles the last part of the authentication flow by exchanging the facebook code for stormpath tokens.

If you need to redirect the user to a custom location after login, I would suggest this configuration in

[2016-12-22 19:32] thedrew12 commented on #147
@robertjd
Stormpath initialized:
[code]
Profile handler:
[code]

API call:
[code]

This is my configuration settings.

[2016-12-22 19:43] robertjd commented on #147
Thanks, that all looks good to me.  Can you try running this example app:

https://github.com/stormpath/stormpath-express-react-example

It's essentially the same thing you're trying to implement, I'd like to know if this one has the same 401 problem?

In your app, I would loo at the POST request to /profile, to ensure that it's sending the `access_token` cookie?  Also, check to make sure that the

[2016-12-22 19:44] thedrew12 commented on #148
Hi @robertjd, thanks for getting back with me.
I added this to the express server.
[code]
But I'm still not getting authenticated. I tried a different `nextUri` like `/explore`, but that didn't work either. It redirects me to a custom route specified in the express server if I don't supply the `redirectUri` prop on the `SocialLoginLink`. Thanks for your time.

[2016-12-22 19:46] robertjd commented on #148
Thanks, can you enumerate the user story you're trying to support, so that I can make sure I'm pointing you in the right direction?

[2016-12-22 19:59] thedrew12 commented on #147
@robertjd Everything seems to be working fine in stormpath react example.
I noticed that my post request header isn't sending along the `Cookie` header. I assume that is required? Yes, my account is in a VERIFIED state.

[2016-12-22 20:04] thedrew12 commented on #148
I'm trying to login/register in to our app using a social provider. Everything seems to be setup properly in the stormpath admin. I've tested this on two different domains, `localhost` and in a QA environment. Same issue, correct `redirectUri`, but no authentication.

[2016-12-22 21:20] robertjd commented on #147
Is your react application on a different domain or port than your express server?

[2016-12-22 21:31] thedrew12 commented on #147
No its not.

[2016-12-22 21:38] rorheden commented on #147
@thedrew12

Try setting `credentials: 'include'` for the `fetch(...)` API call. I.e.

[code]

See: https://github.com/github/fetch#sending-cookies

[2016-12-22 22:06] thedrew12 commented on #147
Hey that worked! I didn't think to look at the fetch package.

[2016-12-22 22:09] #147 closed

[2016-12-23 00:04] thedrew12 commented on #148
Any ideas on how to fix this?

[2016-12-27 15:38] robertjd commented on #149
The logout post doesn't have any content in the body, so a Content Type header won't be set.  Is our .NET library handling the `/logout` route on your backend?  If so this sounds like a bug we need to fix in our library, ping @nbarbettini

[2016-12-27 15:39] robertjd commented on #147
Thanks @typerandom !

[2016-12-27 15:39] robertjd commented on #148
@thedrew12 are you still stuck on this one?  Sorry for the delay here, holidays :)

[2016-12-27 18:02] nbarbettini commented on #149
Yes @robertjd it looks like the .NET middleware is looking for the `Content-Type` header and throwing if it's not present.

Is the `Accept` header being set in stormpath-react?

[2016-12-27 18:09] robertjd commented on #149
It is sending `Accept: application/json` for the `/logout` POST.  You can demo with https://github.com/stormpath/stormpath-express-react-example

[2016-12-27 18:43] thedrew12 commented on #148
@robertjd Yes, still having the same issue. Thanks for your time.

[2017-01-02 14:35] brandones commented on #125
I'm having this same problem. On stormpath-react-sdk 1.3.3.

[2017-01-03 06:45] nikhil-ahuja opened #151 "How to modify post data while calling login service?"
I want to make a Login API call which accept following parameters:

{	"action":"login",
	"data":{
		"username": "abc@yopmail.com",
		"password":"123456"
	}
}

I want to pass such data to onFormSubmit callback of LoginPage and want to set the headers as well.

headers: {
        'Accept':       'application/json',
        'Content-Type': 'application/json',
      }

How can I pass post data with he

[2017-01-04 14:31] skeet commented on #117
PR has been created that fixes this issue - https://github.com/stormpath/stormpath-sdk-react/pull/152

[2017-01-09 17:52] #117 closed

[2017-01-10 21:58] brandones opened #153 "Integration with express-stormpath"
I've got a React app set up with stormpath-sdk-react and it seems to be working fine. Now I want to add an authenticated server route on my express server. Trying to use express-stormpath to do so.

[code]

After logging in in my React app, I attempt to make a POST to `/api/copy/foo`. I get a 401 Unauthorized.

Okay, fine, so I guess stormpath-sdk-react and express-stormpath don't share login stat

[2017-01-11 15:22] adaspt opened #154 "Content-Type header is set twice"
Google chrome 55.0.2883.87. Same in MS Edge.
In version 1.3.3 post to /login is made with correct `Content-Type: application/json; charset=UTF-8`.
In version 1.3.4 content type is duplicated: `Content-Type: application/json;charset=UTF-8 application/json; charset=UTF-8`.
In this situation bodyParser fails to parse request body and response is `{"status":400,"message":"Invalid username or password.

[2017-01-12 16:47] DCKT commented on #125
@brandones I don't have this bug anymore on 1.3.4, try to update

[2017-01-12 17:32] brandones commented on #125
Yep, appears to be working on 1.3.4. Thanks!

[2017-01-13 16:39] jeremy-dorfschmidt commented on #8
@typerandom any update? To confirm since the SDK isn't isomorphic, This would be causing an error when trying to direct navigate to a AuthenticatedRoute? ie myapp/profile is a AuthenticatedRoute, and when using a isomorphic app typing myapp/profile into the navbar it generates a error (isAuthenticated of null ...) ?

[2017-01-13 22:13] #130 closed

[2017-01-16 23:34] brandones commented on #153
That did it, thank you.

[2017-01-16 23:34] #153 closed

[2017-01-17 16:38] rogersp opened #156 "Breaks react-hot-loader support"
After installing the `react-stormpath` package, hot loading of react components using `react-hot-loader` has stopped working.

After saving a change to my react component, thereby triggering a hot reload attempt, I see the message below in the developer console. A full page refresh is required to pull the latest react component change.

![image](https://cloud.githubusercontent.com/assets/2909421/2

[2017-01-18 12:12] the-overengineer commented on #154
The PR fixes this behaviour. 1.3.4 did not check whether the Content-Type was already set. Interestingly, upcoming version 2.0.0 _does_ make this check, so the behaviour was transferred to the branch based off 1.3.4 as well.

@robertjd or @typerandom, could you please review? I made a `version-1.X.X` branch based based off 1.3.4 for this (and possible future) tagging and releasing of pre-v2 patche

[2017-01-18 14:52] the-overengineer commented on #156
@rogersp Thanks for reporting this! Could you please tell me where/how you're calling `ReactStormpath.init()`? After some experimenting, I've only been able to replicate this error, and the multiple calls, if I place it inside of a component. If I place it above the `ReactDOM.render` call in the app/index.js, it all seems to work fine. Some more information about your use case could be helpful.

S

[2017-01-18 18:30] rogersp commented on #156
@Tweety-FER you're absolutely spot on. I had mistakenly placed ReactStormPath.init() inside my top-level component render() function. Moving it outside render solved the problem entirely.

Thanks for the help!

[2017-01-18 18:30] #156 closed

[2017-01-19 17:01] williamgranli opened #158 "Integrating with react-boilerplate"
Has anyone managed to integrate react-stormpath with the [react-boilerplate ](https://github.com/mxstbr/react-boilerplate/)project? I'm running into problems since react-stormpath has it's own Router. (I'm guessing it's just an extended version of react-router).
To begin with I'm skipping the createRoutes function and just adding them manually in app.js. When I get it to work I'll try to add it to

[2017-01-20 22:52] edjiang opened #159 "Please add docs for how to use Social Login V2"

[2017-01-20 23:02] edjiang opened #160 "Please add docs for how to do email verification in the getting started"

[2017-01-21 09:04] williamgranli commented on #158
@focuswish Not sure what you mean. Could you elaborate on "different mechanism"? Also, did you get it to work? If so, what approach did you take?

[2017-01-21 19:34] oshalygin opened #161 "Google Social Login Link or onClick V2"
#159 should nail this out of the park but in the meantime, can someone help me get going with the right social login link?  At the end of the day I need to wrap this functionality in an `onClick` but for now I need at least a link that works 🗡

Just looking at the local config level:
`<SocialLoginLink providerId="google" redirectUri="http://localhost:8080/authorize/callback" />`

Which, when click

[2017-01-21 19:51] oshalygin commented on #161
Going to add some references here so I can see if I can help:

_This is pretty useful, and if I'm reading this correctly, the only exposed prop is provider_
https://github.com/stormpath/stormpath-sdk-react/blob/master/src/components/SocialLoginLink.js

_This is very useful because wrapping our component with SocialLoginLink allows us to create our own button_
https://github.com/stormpath/stormpath

[2017-01-21 19:59] oshalygin commented on #161
Logging out the link,
`var authorizationUri = accountStore.authorizeUri;` => accountStore does not contain the property authorizeUri, instead its the following:

![image](https://cloud.githubusercontent.com/assets/7675942/22177370/0d8d6f48-dfd1-11e6-8338-b962d3c82908.png)

[2017-01-22 00:58] oshalygin commented on #161
After a bit more research on this, I went to the https://github.com/stormpath/stormpath-express-react-example repository and ran it to see what the differences may be.

Unfortunately I got the same issue I saw locally.  In that case, react-stormpath was  on V1, but it worked just fine after I upgraded express-stormpath to 3.1.9, except for Google login.

I verified that I have localhost:3000(in th

[2017-01-23 04:12] oshalygin commented on #161
I solved this, I'll post up my solution today/tomorrow.  I'm not sure from a security perspective what the feeling is about descriptive error messages but I'll submit something and see what you guys think, because I'm surely not an expert :)

[2017-01-24 13:29] the-overengineer commented on #148
@thedrew12 Sorry about the delay with resolving this issue. I think you're misunderstanding the `redirectUri` property here. If I understand correctly, you're trying to redirect the user to some page _after_ they are logged in? The `redirectUri` is not used for that - instead it's the URI the social provider (e.g. Facebook) should redirect to for your application to verify that the user has been s

[2017-01-24 17:43] oshalygin opened #163 "What property do you pass to next(null, credentials) to specify the organization?"
Just like the IDSite example where users can specify the organization, I'd like to implement the same thing in the React world but pass down my own string for the organization, assuming I can just leverage `nameKey` from the Admin Portal.

Looking at this code, I'm doing something very similar, passing `username`, and `password`.  I tried passing `org` and `organization` but no luck.

[code]

In a

[2017-01-24 17:46] robertjd commented on #163
Thanks @oshalygin , this is a good question.  We haven't designed this for React or Angular just yet, but we are working on adding multi-tenant features to our server-side integrations, and to Client API.  Can you tell me which of our server side libraries you are using, and if you're using Client API?  Thanks!

[2017-01-24 19:12] oshalygin commented on #163
Using `express-stormpath` as my server-side integration, not using Client API.  If I can intercept the `/me` route or the `GET` call to `/callbacks/google` which I've specified in the redirectUri then I can probably bake this in with a `HOSTNAME`.

If there's any way I can help let me know.  Really I just need a way to run the tests so I can tell if things are working.  I've tried a few things on

[2017-01-25 18:01] tanzim opened #164 "TypeError: Unable to get property 'toLowerCase' of undefined or null reference"
Hi,

Trying to log in into one of our products built with react-stormpath (1.3.4) results in the following exception:

[code]

The call stack points to [this](https://github.com/stormpath/stormpath-sdk-react/blob/master/src/components/LoginForm.js#L251)

This was noticed in IE 11 (11.713.10586.0)

Sadly, we don't have access to a box with IE to test things out right now, so that's all the informat

[2017-01-25 18:26] robertjd commented on #164
Thanks @tanzim for the report, we'll look into this.

[2017-01-25 19:03] the-overengineer commented on #164
@tanzim Thanks for the report. Unfortunately don't have access to IE at the moment either, but will try out on one ASAP.

Could you tell me if you use a custom login form? In particular one with React elements inside of it. Not entirely sure _yet_ (without the context), but it looks like a React element is being used in a custom LoginForm, and when the SDK tries to get the name of the function for

[2017-01-25 22:40] robertjd commented on #163
Hi @oshalygin , please take a look at the new multi-tenancy feature that we just added to express-stormpath, I'd like to know if it meets your needs:

https://docs.stormpath.com/nodejs/express/latest/multi_tenancy.html

This solution relies on a subdomain model, and in this situation you shouldn't have to to anything special in your react application, so long as the user is on the subdomain that c

[2017-01-25 22:44] robertjd commented on #161
Hi @oshalygin , can you tell me which version of our react-stormpath library you are on?  We just released V2, which has a different approach to social login, which is what #159 is about.  In liue of proper documentation, the new V2 version should be able to handle social login for you, end-to-end, without needing to anything special in your Express server - the V2 version is using the new Client

[2017-01-25 22:51] robertjd opened #165 "UserProfileForm needs to be updated"
The UserProfileForm has a hard dependency on a route that must be implemented by the developer in their backend server.  Right now it is hard-coded to post to the `/me` endpoint, which creates confusion because the Client API (and current framework integrations) provide this as a read-only endpoint that does not accept a POST.  It is up to the developer to implement their own route for modifying t

[2017-01-26 05:39] oshalygin commented on #163
I'll be looking at this first thing tomorrow morning, thanks @robertjd ! From looking at the PR and the docs, this should solve it for us quite nicely.  I'll let you guys know if there are any snags along the way.

Thanks again!

[2017-01-26 09:09] tanzim commented on #164
@Tweety-FER Correct. We're using a custom login form with react elements inside, specifically react bootstrap. Here's a snippet:

[code]

[2017-01-26 12:31] the-overengineer commented on #165
Not really my discussion, but since I saw the issue... While a hard-coded route certainly does not make too much sense, I suspect the standard profile update form is such a common requirement that it makes little sense to remove it entirely. People will probably just fall back to using modified versions from the current version if it's removed. Why not just make the endpoint a required property fo

[2017-01-26 13:13] the-overengineer commented on #151
As for passing custom headers from the login form, the SDK currently does not support this. However, the `Accept` header will automatically be set to `application/json`, and the `Content-Type` will be set to `application/json` as well, when talking to one of the Stormpath back-end integrations.

As for formatting the custom data, you can do it like this:

[code]
[code]

@robertjd Maybe we should a

[2017-01-26 13:16] rorheden commented on #165
I fully agree with @Tweety-FER. I think it's better just to remove the dependency of the `/me` endpoint, and force the users to specify their own.

[2017-01-26 16:11] the-overengineer commented on #165
Regarding that, just made a semi-related PR. Support for this could be added simply by adding a `.isRequired` to the end of https://github.com/stormpath/stormpath-sdk-react/blob/feature/form-custom-req-settings/src/components/UserProfileForm.js#L87

[2017-01-26 22:31] edjiang commented on #154
We need to get this merged, since 1.3.4 is creating a ton of chaos. Otherwise we should remove 1.3.4 so that people don't have this issue.

[2017-01-26 23:05] #154 closed

[2017-01-26 23:15] robertjd commented on #154
This should now be fixed in 1.3.5

[2017-01-27 19:18] afercu opened #168 "onSubmitError() event on reset and change password forms"
The LoginForm and RegistrationForm components allow you to specify an onSubmitError() event that can be used to perform an action when the form submits erroneously.  Is there a way to do this for the ResetPasswordForm or ChangePasswordForm components?

[2017-01-28 07:02] oshalygin commented on #161
The packages used are:
[code]

This all ties back to having the proper configuration in the Stormpath Portal.  The `AUTHORIZED REDIRECT URI` in the Google directory needs to be properly configured to point to the origin followed by the convention in place, in my case the default, `/callbacks/google` => working example for localhost, but replacing this in the deployed domain works like a charm as w

[2017-01-28 07:02] #161 closed

[2017-01-28 07:05] oshalygin commented on #163
Closing in favor of the multi-tenancy piece within `stormpath-express`.  That definitely feels like the proper approach moving forward, especially with a strategy of specifying the subdomain.

The other way to actually accomplish what I was trying to do initially is tying into the `preLoginHandler` as described in the docs:
https://github.com/stormpath/express-stormpath/blob/master/docs/login.rst

[2017-01-28 07:05] #163 closed

[2017-01-28 13:08] yangyu0311ugroop opened #169 "Cannot Get Access Token"
Hi,

I am trying to get Access Token, but failed. Error message is

**Unable to retrieve access token for current auth strategy.**

[code]
Then, realise there is not getToken method in the UserSerivce.js

Please verify this.

Thanks

[2017-01-28 22:25] MadJay commented on #169
I have a very similar issue. I am able to login and I see the the actions USER_SET, USER_LOGIN, USER_SET get dispatched. When I call ReactStormpath.getAccessToken() I get an uncaught type error:  "_reactStormpath2.default.getAccessToken is not a function"

[2017-01-29 07:26] yang-cloudlet commented on #169
@MadJay getAccessToken was not in version 1.3.3, but after I upgrade to 2.0, you will be able to access that function. However, at least from my tests, I couldn't get the access token.

[2017-01-29 12:07] the-overengineer commented on #169
@yangyu0311ugroop Are you using the [Client API](https://docs.stormpath.com/client-api/product-guide/latest/)? The token store functionality is only accessible (at the time this was written) if you are. If you look at https://github.com/stormpath/stormpath-sdk-react/blob/master/src/app.js#L44, the Client-API-based `ClientApiUserService` is only used if you set up a base URI pointing to a different

[2017-01-29 15:29] MadJay commented on #169
I did upgrade to 2.0.0 Thanks! I initially just took the NPM default version, the 'not a function' error is gone. I am now where yangyu0311ugroop  and am looking at your advice to him on this.

[2017-01-29 21:10] yang-cloudlet commented on #169
@Tweety-FER Thank you for pointing that out. I do not have different hosts so no base URI was set in App, so the question what will be the easiest way to fetch the access token from the React-SDK? Because some of the functions, I am trying to use is not in React-Stormpath-SDK, I need use standard API call.

[2017-01-30 21:35] marckaraujo opened #170 "How to add stormpath with React PropTypes?"
How to add stormpath with React PropTypes?

index.js

[code]

App.js

[code]

I tried to change Router to react-stormpath but it now gives me a blank page.

[2017-01-30 22:02] marckaraujo commented on #158
Anyone put it to work?

[2017-01-31 15:44] MadJay commented on #169
I now capture the TOKEN_SET action to grab the access and refresh tokens as they are dispatched from the react-stormpath sdk. But my issue is now the same as @yangyu0311ugroop, I'm not sure how to capture the accessToken from the SDK other than via the dispatched TOKEN_SET action.

[2017-01-31 16:38] the-overengineer commented on #169
@yangyu0311ugroop @MadJay At the moment, I believe such "hacky" solutions are the only solution directly from the React SDK, when not using the Client API for your auth needs. This will probably change in the future, when the back-end integrations also begin to support the same flow that is currently used with the Client API.

However, if you are using one of the back-end integrations, maybe the s

[2017-01-31 22:02] yang-cloudlet commented on #169
@MadJay I figure it out finally. After you call React-Stormpath-Sdk login, cookie will be set from StormPath-Server (I an using the Express-Stormpath-Node).

From the front end, I am using [whatwg-fetch](https://github.com/github/fetch). In the document, you shall have a look at sending cookie section. Basically, for the same origin. You use this.

[code]

And if you have different host, you use

[2017-01-31 22:32] varun2508 commented on #168
+ also consider to add onSubmitError and onSubmitSuccess to UserProfileForm

[2017-01-31 22:37] varun2508 opened #172 "RegistrationForm handleOnSuccess fired twice"
Using 1.3.4 handleOnSuccess is fired once but with 2.0.0 is fired twice but onSubmit is fired only one time.

[2017-01-31 22:41] varun2508 commented on #172
I hacked it this way:

[code]

[2017-02-01 00:20] robertjd commented on #165
Okay, I agree with leaving `UserProfileForm` in this library, and making `endpoint` a required property, and undefined by default.  If `endpoint` is not defined when we try to submit the form, we should error and tell the developer why we can't submit the form.

[2017-02-01 00:20] robertjd commented on #172
Thanks @varun2508 , I also just noticed the same thing.  We'll get this fixed.

[2017-02-01 03:32] SanzSeraph commented on #169
I'm receiving a javascript error indicating that getAccessToken is not a function. When I look at the source in the repository I can see where the method is defined on the App class, but when I look in my node_modulesc folder (after forcing an install of react-stormpath@2.0.0) the app.js file does not include this method.

[2017-02-01 13:54] the-overengineer commented on #170
@marckaraujo I'm not sure, but I believe the issue is actually with our Router not supporting PlainRoute (object) route definitions. Could you try running this from the branch from PR #174 and see if that resolves your issue? Thank you.

[2017-02-01 23:16] robertjd commented on #169
Hello everyone, thank you for all the help and debug info!

As mentioned by @Tweety-FER, the 2.x upgrade is moving this library towards using the [Stormpath Client API]() for authentication.  This change makes your app simpler, because you don't need extra code in your server to handle login, you just need to focus on protecting your endpoints with the access token that you can now get from the Cl

[2017-02-02 04:12] SanzSeraph commented on #169
Why doesn't the 2.0.0 version of the react-stormpath package reflect the source in this repository? Will that be changing any time soon?

[2017-02-02 04:48] SanzSeraph commented on #143
@robertjd
I'm still receiving this error even with the latest version of react-stormpath from npm. I'm wondering if it's related to the issue I reported in [this thread](https://github.com/stormpath/stormpath-sdk-react/issues/169)

[2017-02-02 05:27] robertjd commented on #169
Hi @GodsBreath , I do see that the file `app.js` in the `es6` and `lib` folders is out of date, I'm not sure why that is, @typerandom or @Tweety-FER can you look at this with me?

@GodsBreath can you tell us how you're wanting to include the files in your project?  Thanks.

[2017-02-02 13:18] SanzSeraph commented on #169
@robertjd, I'm using npm + webpack.

Thanks for looking into this!

[2017-02-02 14:36] Tweety-FER opened #176 "Fix input-like element binding in Form elements"
Discussion prompted by #166

The current implementation of the library allows automatic binding of React input-like components if they behave like the following:

  * The component has `input`, `text` or `field` in its name,
  * The component has a `name` prop,
  * The component has an `onChange` prop.

This behaviour allows for components from external libraries to be used interchangably with nor

[2017-02-02 14:41] the-overengineer commented on #158
@williamgranli @focuswish Does it work if you pull in #174? I did some trial runs with the boilerplate, and didn't run into any issues, but I don't know how complex your use cases are. The issue was that `react-router` supports defining routes in two ways - as objects (PlainRoute) or as `Route` components. Our router expected components only.

Thanks for reporting this and the info you provided!

[2017-02-03 01:28] GodsBreath commented on #169
Forgot to tag you, @robertjd. I assume you have other ways of getting notified of activity in these threads, though.

[2017-02-03 18:47] robertjd commented on #169
Hi @GodsBreath , thanks for the ping - unfortunately we haven't had a chance to look into the issue with `app.js`.  Could you compare your webpack configuration to what we have in our example app? I'm curious, because while the `app.js` file isn't getting updated, our example app is still working (I'm assuming it requires/imports the `index.js` instead of `app.js`).  The example app is here:

http

[2017-02-04 03:31] SanzSeraph commented on #169
Thanks for your reply, @robertjd . I think you're onto something with the webpack configuration. The only differences I see are implementation-specific. However, based on your suggestion I looked at the lib/index.js. Initially it did not match the contents of index.js from installing node dependencies for your example app. However, installing the package again in my own app updated the index.js fi

[2017-02-06 18:37] robertjd commented on #169
Thanks @GodsBreath !  Could you show me your webpack configuration file, and also show me how you're requiring or importing our library?  Thanks!

[2017-02-06 18:42] SanzSeraph commented on #169
@robertjd

webpack.config.js

[code]

src/devotionals.jsx
[code]

[2017-02-07 12:58] the-overengineer commented on #169
Added a prepublish hook in #178 to avoid the possibility of outdated files.

As for this latest issue, I've been trying to look into it, but I cannot seem to reproduce it. The `babel-loader`'s configuration seems fine, as the whitelist `include` should automatically exclude `node_modules`. However, we discussed, I noted one odd thing about the package when downloaded with npm: unlike when building

[2017-02-07 13:41] SanzSeraph commented on #169
@Tweety-FER
I'm going to try moving the project files to a different folder that isn't a git repository. Even though I have a git ignore for node_modules, it seems possible that git may be somehow responsible for changing the file.

[2017-02-08 00:45] SanzSeraph commented on #169
@Tweety-FER
I was right. I moved all of the files (minus git-related files, hidden or otherwise) to a completely different directly. So far, the file has remained stable. No unexpected changes. This must be some kind of git bug!

I'm going to update git to see if that fixes it. I'm still running 1.9.1.

**Update:**
Updating Git alone did not resolve the issue. However, I wiped out my project folde

[2017-02-08 23:58] thedrew12 commented on #148
@Tweety-FER Thanks for the response, can you provide the example of the social login working? I can't seem to get it working on my end. I don't have the redirect props on the SocialLoginLink component `<SocialLoginLink providerId={type} scope={scope}>` and I have the stormpath configured like so
[code]
When I click on the social login link button I get redirected to `/callbacks/facebook` asking fo

[2017-02-09 00:13] typerandom opened #180 "The method getAccessToken() should be exported from the index module"
For browsers, we need to export `getAccessToken()` manually as `init()` is exported here:
https://github.com/stormpath/stormpath-sdk-react/blob/master/src/index.js#L35

Without doing this, the only way to currently access the `getAccessToken()` method from the `ReactStormpath` module is by doing `ReactStormpath.default.getAccessToken()`.

[2017-02-09 01:29] mrcybermac opened #181 "'Forgot' link in bottom of login page is not respecting library init endpoint value"
In `LoginForm.js` the /forgot url is hardcoded:

[code]

Yet it should pick up from init values which in my example I've mounted to `/auth`:

[code]

[2017-02-09 01:51] cosmicscr commented on #181
I think the solution is the use the `ResetPasswordForm` from the library and route it `/forgot`, then the form should use the proper endpoint.

[2017-02-09 01:51] #181 closed

[2017-02-10 21:18] thedrew12 commented on #148
I updated to version 2 and tried to use the `SocialLoginLink` component and now I'm getting an error. `Cannot read property 'split' of undefined` I feel like something in my stormpath config is not setup right. I followed the steps and setup a facebook login and setup a OAuth redirect URI.

[2017-02-13 12:03] the-overengineer commented on #148
@thedrew12 Looking at the code in React and Express SDKs, it would appear that the new social login flow only works with [Client API](https://docs.stormpath.com/client-api/product-guide/latest/social_login.html#social-login) out of the box. I'm not seeing it documented anywhere, though, and the error is hardly descriptive, so we could improve on that.

@robertjd Are there plans for adding express

[2017-02-13 12:09] the-overengineer commented on #169
@GodsBreath Good to hear you found a way around it, but *very odd*, I have to say. Did you have any git hooks set up? That's really the only thing that's coming to mind, never seen something like this before otherwise.

[2017-02-13 16:56] thedrew12 commented on #148
@Tweety-FER I got the facebook and google login working for version 1.3.3, but not with 2. I hadn't configured my Facebook Login or my Google product properly to send the valid OAuth redirect URI. I set it to`/callbacks/facebook` and it worked.

[2017-02-14 02:59] SanzSeraph commented on #169
@Tweety-FER
I'm sorry to say that just moments ago the issue began recurring, after several days developing with no problems. I had never heard of Git hooks until I read your comment.

Deleting the directory and cloning the repository seems to make it go away.

I'm using the Atom text editor with a Git package installed. I wonder if that is causing some issues.

[2017-02-14 03:37] natdouglas opened #183 "Question - Hide error message when reset Login form"
Please note this is a question and I'm new to stormpath.  I have a custom login form using:

With formsy-react I have a reset button that allows me to clear the login form.  If the user enters erroneous data, I use `data-spIf="form.error"` to display a semantic-ui-react error element.  Here is my code:

[code]
This is what my login form looks like.

![image](https://cloud.githubusercontent.com/ass

[2017-02-14 12:31] the-overengineer commented on #169
@GodsBreath Hm, thanks for the report. Getting more odd by the minute. Could you give me the contents of your package.json?

[2017-02-14 14:11] SanzSeraph commented on #169
[code]

This doesn't seem to be caused by react-stormpath. I don't expect you guys to help me troubleshoot an off-the-wall issue with Git.

[2017-02-14 14:20] the-overengineer commented on #183
@natdouglas Doesn't look like you can currently do this, but the linked PR adds `spResetErrors`/`data-spResetErrors`, which you will be able to put on a button to reset the form state.

[2017-02-17 21:12] robertjd commented on #169
Hi all, we found that the `latest` tag in `npm` was linked to `1.3.5`, this was a mistake when we published a patch on the 1.x series.  The tag has been fixed and now points to `2.0.0`.  This issue may have caused you problems, we fixed it several days ago (my bad for not following up here!).

@GodsBreath I'm happy to do some pair programing to see what's going on with your situation (I'd like to

[2017-02-17 21:48] #180 closed

[2017-02-20 01:19] ldcaponi opened #188 "inGroup functionality not working for <Authenticated/> or <AuthenticatedRoute /> component"
The issue lies in the the method isAuthenticated on the UserStore.

Specifically, here:

`authenticated = _utils2.default.groupsMatchExpression(user.groups, options.inGroup);`

`options.inGroup` is an array of objects, but the function is expecting an array of strings.  Currently unable to restrict any routes to an "Admin" group.

[2017-02-20 14:17] the-overengineer commented on #148
@thedrew12 Thanks for the update! As I was saying (maybe not clearly enough), v2 works with the Client API flow, instead of handling the redirect flows manually like 1.X.Y. This binds the integration to the Client API (for the time being), but allows many more social login providers than the older versions.

Switching to the Client API, if needed for your use case, should be more or less seamless,

[2017-02-20 20:45] oshalygin opened #190 "Social Login with V2 - Can't retrieve authorizeUri from SP"
In recent development, I need to start leveraging the `TOKEN_SET` and `TOKEN_REFRESH` dispatched events so that I can properly pass them on subsequent API calls to the express application.

Looking at the documentation, those events are not dispatched in `stormpath-react@1.3.X` so I upgraded to `stormpath-react@2.0.0`.

After doing so, social login link throws the following error:
[code]

Looking

[2017-02-23 22:21] advance512 opened #191 "Social Login doesn't work"
The issue is here:
https://github.com/stormpath/stormpath-sdk-react/blob/6a11c86de3d23a864e8fc202db2714e623d889d8/src/components/RegistrationForm.js#L64

The account stores return, but with no authorizeUri.
This is what is returned:
[code]

Please note that this DOES work using the `express-stormpath-sample-project` example.

Is this library broken?

[2017-02-23 22:45] advance512 commented on #191
Trying to follow the client API myself e.g. going to
https://easy-shell.apps.stormpath.io/authorize?response_type=stormpath_token&account_store_href=https://api.stormpath.com/v1/directories/...
does indeed go to a Google OAuth page, and then redirects back with a JWT response.
But this doesn't help this example or the React project, rather it is the Client API.

Is this library broken?

[2017-02-23 22:46] advance512 commented on #190
I am having a similar issue. Not receiving authorizeUri.
Since Stormpath aren't very responsive, I'd appreciate a bit of help here @oshalygin before I give up and just use their main competitor instead. :)

What configuration in the Stormpath Portal do I need to do? I set authorization URIs everywhere I could.

[2017-02-23 23:36] oshalygin commented on #190
@advance512

Don't go with the competitor, mostly because there isn't one this good :).  There is a lot that is offered out of the box with Stormpath and all of the various integrations, along with things like multi-tenancy, AD/SAML, MFA, etc.  I don't know any other product thats offering the same with so much dev support.  Also note that with the amount of integrations and the growing developmen

[2017-02-23 23:56] advance512 commented on #190
You're using v1.3.5, not v2.0.0, because v2.0.0 is broken.
I managed to get it working, with an older version of stormpath-express-react-example and the corresponding v1.3.2 react-stormpath. However, I get "Invalid Token" errors when doing social logins, though it did seem to work for a short while.

While Stormpath might offer lots of impressive features, if it doesn't offer the basic feature I a

[2017-02-24 00:06] advance512 commented on #190
I just checked. The reason I get "invalid token" is almost certainly because I enabled "Email Verification", and the React example doesn't know how to handle that. The standard express example works perfectly, and shows that "verification" thing.

It's very disappointing. I've spent nearly 4 hours trying to get their simple React example working, and still got nearly nowhere.

[2017-02-24 00:25] advance512 commented on #190
Alright, the "straw that broke the camel's back" is that it seems the account linking is not working, even though I enabled it. I'll give the competitor a go.

[2017-03-03 10:39] RamonGebben opened #192 "required spToken on ChangePasswordForm"
After following [this part of the API docs](https://github.com/stormpath/stormpath-sdk-react/blob/master/docs/api.md#changepasswordform) for custom markup and providing the component with the token received from `ReactStormpath.getAccessToken()`, I'm receiving an error on submission of the form:

[code]

Was is the cause of this error and how do I resolve this?

[2017-03-03 11:03] RamonGebben commented on #192
Nevermind, [this post](https://support.stormpath.com/hc/en-us/articles/203697166-How-does-Stormpath-Password-Reset-work-) helped me out very much.

[2017-03-03 11:03] #192 closed

[2017-03-14 10:27] DCKT opened #194 "Logout re-render with empty user context"
Hi,

I would like to know if is it normal that after I click on a `<LogoutLink />` component, my page is re-rendered with an empty user context.
Is it a normal behavior and I must check for `user` consistency before using it ?

Thanks for your help.

[2017-03-14 17:18] robertjd commented on #194
Hi @DCKT , yes that is the default behavior.  You can use `<Authenticated>` to wrap elements that should only be shown when the user is authenticated.

[2017-03-14 18:28] robertjd commented on #194
Also, please note that [Stormpath is joining forces with Okta](https://stormpath.com/blog/stormpaths-new-path?utm_source=github&utm_medium=readme&utm-campaign=okta-announcement) and the Stormpath API will be shutting down in 6 months. Please visit [the Migration FAQs](https://stormpath.com/oktaplusstormpath?utm_source=github&utm_medium=readme&utm-campaign=okta-announcement) for a detailed look at

[2017-03-14 23:20] mynameisrufus commented on #8
This is a hack to get it working on the server (never authenticated on server):

[code]

I'm guessing this repo is abandonware given recent announcements.

[2017-03-16 16:21] robertjd commented on #8
Hi @mynameisrufus , thanks for the workaround!  It is true that we won't be adding any new features to this library, as we're going to be focusing on migrating existing functionality to Okta.  Our primary  focus is on patching our server integrations, such as [express-stormpath](https://github.com/stormpath/express-stormpath) to work with Okta (we'll also be providing a tool to migrate your data t

[2017-03-16 17:45] #164 closed

[2017-03-16 17:45] #176 closed

[2017-03-20 08:55] DCKT commented on #194
Thanks @robertjd :)

[2017-03-20 08:55] #194 closed

[2017-03-21 15:15] williamgranli commented on #158
@Tweety-FER Not using stormpath in our project anymore, so I won't be able to answer your question reliably, but to my knowledge react-boilerplate's route-generator uses objects (not components). (See function createRoutes in react-boilerplate/app/routes.js).

[2017-03-29 15:35] dylanfpaul opened #196 "Custom data in RegistrationForm' onSubmit functions's next() w/ stormpath-express preRegistrationHandler"
If I am in the onSubmit function on the client side, and I put custom data in its next() call i.e `next(null, { myNewData: '123' })`, it fires the express preRegistrationHandler twice. Once where the formData object is the "myNewData" field, and another time with the default fields. Is this the intended behaviour, and if so, how can I pass the "myNewData" field along with the other default fields

[2017-03-30 13:42] dylanfpaul opened #197 "Is there any API documentation on the next() function?"
I want to see what is capable with the next() function besides bubbling errors to a Stormpath form. More specifically I want to not only send a new Error to the form from an express preRegistrationHandler (which I know how to do because it is in the documentation), but I also want to fire a function within scope of the form from the preRegistrationHandler.

Now I know that there is a next() call i

[2017-04-03 16:48] robertjd commented on #197
Hi @dylanfpaul , thanks for the question.  I'm no sure what you mean by the scope of the form?  If you could describe the user story you're trying to achieve, that may help.  Also, please make sure to read the announcement that [Stormpath is Joining Okta](https://github.com/stormpath/stormpath-sdk-react#stormpath-is-joining-okta) if you haven't already.  Thanks!

[2017-04-03 18:36] cdaniel commented on #191
I'm experiencing the same issue. I have lost login functionality.

Indeed this lib iterates over social providers and accepts only those with authorizeUri. How to configure this option?

[2017-04-03 18:58] cdaniel commented on #191
temporary workaround - revert to 1.3.4

[2017-04-26 22:33] thedrew12 opened #198 "Documentation for Group names is confusing"
When creating groups in stormpath the documentation is misleading.
https://docs.stormpath.com/rest/product-guide/latest/multitenancy.html#naming-your-tenant-groups
This link says you should name you groups `nameKey.role.admin`, but you can't use that name in the `<Authenticated>` component because it splits the string by periods and looks for each part of the array in the group name. A more unifie

[2017-05-25 15:26] dylanfpaul commented on #148
Is there a way to send a user to a certain URI upon 'registering' for the first time with a SocialLoginLink. Something akin to redirecting a user upon a successful signup on the RegistrationForm component? Sorry if this seems unrelated, perhaps I should start a new issue.

[2017-05-25 15:46] dylanfpaul opened #199 "Differentiate between a SocialLoginLink being used to Register v.s being used to simply Log-in"
I realize that the SocialLoginLink component acts a way for users to 'register' as well as 'login' using a social provider. How do I differentiate between a user using the SocialLoginLink component successfully for the first time (aka signing up with our app) and the user using it to simply login. I want to be able to catch a successful 'social registration' and redirect them to interfaces that sh

[2017-05-25 17:53] dylanfpaul commented on #199
I guess what I want to know is if there is a callback for a successful Social Login, and if I can also differentiate if this Social Login was in fact a 'social register' of sorts (so socially logging in for the very first time).